<div class="col-sm-12 col-md-12" id="elementToPDF" ng-if="vpcp.list!=undefined &amp;&amp; vpcp.list!=false" style="font-size: 12px; background-color: rgb(255, 255, 255);">
<!--Encabezado del pliego-->
<!-- --><div class="well export-pdf table-responsive" ng-if="vpcp.list.header" style="margin-top:10px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Número:</b></td>
<td>2020-0-12-119-04-EM-022783</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Nombre del Acto:</b></td>
<td>INSUMOS DE LABORATORIOS REQ.211 (LABORATORIO)</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Objeto de la Contratación:</b></td>
<td>Bien</td>
</tr><!-- -->
</tbody></table>
</div><!-- -->
<!-- --><div ng-include="'configVP.html'">
<!--Información de la Entidad-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.entityInformation">
<div class="panel-heading" style="padding:5px 15px;"><b>Información de la Entidad</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Entidad:</b></td>
<td>MINISTERIO DE SALUD</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Dependencia:</b></td>
<td>HOSPITAL JOSE DOMINGO DE OBALDÍA</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Unidad De Compra:</b></td>
<td>DEPARTAMENTO DE COMPRAS(H. JOSÉ DOMINGO DE OBALDIA)</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Dirección:</b></td>
<td>SAN PABLO VIEJO, DAVID-CHIRIQUÍ</td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Contacto de la Unidad de Compra-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.contactUser">
<div class="panel-heading" style="padding:5px 15px;"><b>Contacto de la Unidad de Compra</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.contactUser.values">
<td width="250"><b>nombre</b></td>
<td>Emerita Liseth Miranda </td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.contactUser.values">
<td width="250"><b>cargo</b></td>
<td>cotizadora </td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Aviso de Convocatoria-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.aviso">
<div class="panel-heading" style="padding:5px 15px;"><b>Aviso de Convocatoria</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Número de Acto:</b></td>
<!-- --><td ng-if="!isjson">2020-0-12-119-04-EM-022783</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Tipo de Procedimiento:</b></td>
<!-- --><td ng-if="!isjson">Compras Mesa COVID-19</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Fundamento de la Excepción</b></td>
<!-- --><td ng-if="!isjson">C) Resolución No. 11 del 13 de Marzo de 2020</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Objeto Contractual:</b></td>
<!-- --><td ng-if="!isjson">Bien</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Descripción:</b></td>
<!-- --><td ng-if="!isjson">INSUMOS DE LABORATORIOS REQ.211 (LABORATORIO)</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Fecha de Publicación:</b></td>
<!-- --><td ng-if="!isjson">02-09-2020 04:40 PM</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Monto de la Contratación:</b></td>
<!-- --><td ng-if="!isjson">B/.  6,088.30</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Partidas presupuestales:</b></td>
<!-- -->
<!-- --><td ng-if="isjson">
<table border="1" id="table_inter_np" type="table_inter">
<tbody><tr style="background-color:#f5f5f5;">
<th style="padding:2px 5px;">N°</th>
<th style="padding:2px 5px;">Número Partida</th>
</tr>
<!-- --><tr ng-repeat="item1 in item.value">
<td style="padding:2px 5px;">1</td>
<td style="padding:2px 5px;">F.T.0.12.0.3.001.02.19.911</td>
</tr><!-- -->
</tbody></table>
</td><!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Programa:</b></td>
<!-- --><td ng-if="!isjson">---</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Datos de Contacto</b></td>
<!-- --><td ng-if="!isjson"></td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Nombre:</b></td>
<!-- --><td ng-if="!isjson">Emerita Liseth Miranda </td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Cargo:</b></td>
<!-- --><td ng-if="!isjson">cotizadora </td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Teléfono:</b></td>
<!-- --><td ng-if="!isjson">507-7754228/7753719</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Correo Electrónico:</b></td>
<!-- --><td ng-if="!isjson">emerita.miranda@obaldia.sld.pa</td><!-- -->
<!-- -->
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Condiciones Generales-->
<!-- -->
<!--Condiciones Especiales-->
<!-- -->
<!--Especificaciones Técnicas-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.especificacionesTecnicas">
<div class="panel-heading" style="padding:5px 15px;"><b>Especificaciones Técnicas</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<!-- --><span ng-repeat-start="item in vpcp.list.especificacionesTecnicas.values" style="font-size:13px;font-weight:bold;">Bien/Servicio/Obra Seleccionados</span>
<div class="table-responsive" ng-repeat-end="">
<!-- -->
<!-- --><table class="table table-condensed table-bordered table-striped last-line-table" ng-if="item.type=='bs'" style="margin:0;" width="100%">
<thead>
<tr>
<th>R</th>
<th>Código</th>
<th>Clasificación</th>
<th>Cantidad</th>
<th>U. Medida</th>
<th>Descripción</th>
<!-- -->
<!-- -->
<th>SES</th>
<!-- -->
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-repeat="item1 in item.values">
<td>1</td>
<td>95101010</td>
<td>Equipo-Instrumentos-Suministros de Laboratorio</td>
<td>10</td>
<td>Caja</td>
<td>PUNTAS CON FILTRO 100-1000UL LARGO DE 3.36 PULG/85.4 MM. EN BANDEJA PRE- ESTERILIZADA, ORIFICIO AMPLIO PRESENTACIÓN CAJA DE 8 RACKS DE 100   PTAS F.T.38839
VENCIMIENTO DE 5 AÑOS</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>2</td>
<td>95101010</td>
<td>Equipo-Instrumentos-Suministros de Laboratorio</td>
<td>10</td>
<td>Caja</td>
<td>PUNTAS CON FILTRO 1-200UL CON FILTRO CERTIFICADAS LIBRES DE DNAsa, RNAsa Y ATP ESTERILIZADAS POR CORRIENTES DE ELECTRONES PRESENTACIÓN: CAJA DE 10 RACKS DE 96 PTAS. F.T.37941/ VENC IMPERCEDERO</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>3</td>
<td>95101010</td>
<td>Equipo-Instrumentos-Suministros de Laboratorio</td>
<td>5</td>
<td>Caja</td>
<td>CRIOVIALES  2.0ML/ CRIOVIALES CON ROSCA EXTERIOR, ÁREA DELIMITADA PARA ESCRITURA. CAPACIDAD DE 2,0 ml,  PRESENTACIÓN: CAJA DE 1000 CRIOVIALES  F.T.105067</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>4</td>
<td>95101010</td>
<td>Equipo-Instrumentos-Suministros de Laboratorio</td>
<td>10</td>
<td>Caja</td>
<td>MICROTUBOS DE 1.5 PCR CLEAN, MICROTUBOS DE 1.5 ml LIBRES DE DNASA, RNASA, PIROGENOS, GRADUADOS Y CON SELLO. PRESENTACIÓN: CAJA DE 1000 TUBOS F.T.39490 VENC. IMPERECEDERO</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- -->
</tbody></table><!-- -->
</div><!-- -->
</div>
</div><!-- -->
<!--Documentos Adjuntos-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documentosAdjuntos">
<div class="panel-heading" style="padding:5px 15px;"><b>Documentos Adjuntos</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Descripción</th>
<th>Tipo</th>
<th>Fecha</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>SOLICITUD DE COTIZACIÓN</td>
<td>Anexos</td>
<td>21-07-2020 02:18 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISYtJCI=" ng-href="/includes/veranexo.aspx?idattach=JCQnISYtJCI=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CORREO DE RESPUESTA DE PROMED, S.A.</td>
<td>Anexos</td>
<td>21-07-2020 02:21 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISYtISQ=" ng-href="/includes/veranexo.aspx?idattach=JCQnISYtISQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>REGISTRO PUBLICO PROMED, S.A.</td>
<td>Anexos</td>
<td>21-07-2020 02:22 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISYtIyY=" ng-href="/includes/veranexo.aspx?idattach=JCQnISYtIyY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>FOTOCOPIAS DE CÉDULAS</td>
<td>Anexos</td>
<td>21-07-2020 02:23 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISYtIiU=" ng-href="/includes/veranexo.aspx?idattach=JCQnISYtIiU=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>LICENCIA DE OPERACIÓN PARA LA COMERCIALIZACIÓN DE DISPOSITIVOS MÉDICOS</td>
<td>Anexos</td>
<td>21-07-2020 02:26 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISYtLCA=" ng-href="/includes/veranexo.aspx?idattach=JCQnISYtLCA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CERTFICADO DE REGISTRO DE PROPONENTE PROMED, S.A.</td>
<td>Anexos</td>
<td>21-07-2020 02:27 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISYsJCU=" ng-href="/includes/veranexo.aspx?idattach=JCQnISYsJCU=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>PAZ Y SALVO DE LA DGI PROMED, S.A.</td>
<td>Anexos</td>
<td>21-07-2020 02:28 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISYsJic=" ng-href="/includes/veranexo.aspx?idattach=JCQnISYsJic=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>PAZ Y SALVO DE LA CSS PROMED, S.A.</td>
<td>Anexos</td>
<td>21-07-2020 02:29 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISYsISE=" ng-href="/includes/veranexo.aspx?idattach=JCQnISYsISE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>AVISO DE OPERACIÓN DE PROMED, S.A.</td>
<td>Anexos</td>
<td>21-07-2020 02:30 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISYsICE=" ng-href="/includes/veranexo.aspx?idattach=JCQnISYsICE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CERTIFICADO DE REGISTRO DE OFERENTE PROMED, S.A.</td>
<td>Anexos</td>
<td>21-07-2020 02:32 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISYsIiY=" ng-href="/includes/veranexo.aspx?idattach=JCQnISYsIiY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>RESOLUCIÓN ADMINISTRATIVA N°. 034 DEL 21 DE ABRIL DE 2020- PRORROGA TEMPORAL DE CERTIFICADOS DE REGISTROS SANITARIOS</td>
<td>Anexos</td>
<td>21-07-2020 02:34 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISYsLCY=" ng-href="/includes/veranexo.aspx?idattach=JCQnISYsLCY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CATALOGO DE PROVEEDOR PROMED, S.A.</td>
<td>Anexos</td>
<td>21-07-2020 02:37 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISElJC0=" ng-href="/includes/veranexo.aspx?idattach=JCQnISElJC0=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>REGISTROS SANITARIOS DEL LCRSP PRESENTADOS POR PROMED, S.A.</td>
<td>Anexos</td>
<td>21-07-2020 02:39 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISElISA=" ng-href="/includes/veranexo.aspx?idattach=JCQnISElISA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>VERIFICACIÓN DE LOS REGISTROS SANITARIOS EN REGISTRO NACIONAL DE OFERENTE</td>
<td>Anexos</td>
<td>21-07-2020 02:42 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISElIiQ=" ng-href="/includes/veranexo.aspx?idattach=JCQnISElIiQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>SOLICITUD DE EVALUACIÓN DE LA PROPUESTA  RECIBIDA AL SERVICIO SOLICITANTE</td>
<td>Anexos</td>
<td>21-07-2020 02:46 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISElLCA=" ng-href="/includes/veranexo.aspx?idattach=JCQnISElLCA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>NOTA DE EVALUACIÓN DEL SERVICIO SOLICITANTE</td>
<td>Anexos</td>
<td>21-07-2020 02:49 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISEkJyE=" ng-href="/includes/veranexo.aspx?idattach=JCQnISEkJyE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CORREO DE CONSULTA  AL GORGAS SOBRE REGISTROS SANITARIOS VENCIDOS </td>
<td>Anexos</td>
<td>21-07-2020 02:51 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISEkICY=" ng-href="/includes/veranexo.aspx?idattach=JCQnISEkICY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>NOTA DE REEVALUACIÓN DE LA PROPUESTA RECIBIDA POR PARTE DEL SERVICIO SOLICITANTE</td>
<td>Anexos</td>
<td>21-07-2020 02:52 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISEkIyE=" ng-href="/includes/veranexo.aspx?idattach=JCQnISEkIyE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CUADRO DE ADJUDICACIÓN A PROMED, S.A.</td>
<td>Anexos</td>
<td>21-07-2020 02:54 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISEkLSI=" ng-href="/includes/veranexo.aspx?idattach=JCQnISEkLSI=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>SOLICITUD DE BLOQUEO A LA PARTIDA 911</td>
<td>Anexos</td>
<td>21-07-2020 02:55 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISEnJSc=" ng-href="/includes/veranexo.aspx?idattach=JCQnISEnJSc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>BLOQUEO O RESERVA A LA PARTIDA 911</td>
<td>Anexos</td>
<td>21-07-2020 02:56 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISEnJC0=" ng-href="/includes/veranexo.aspx?idattach=JCQnISEnJC0=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>COMPROMETIDO REF. DE BLOQUEO PROVEEDOR PROMED, S.A.</td>
<td>Anexos</td>
<td>21-07-2020 02:57 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISEnJyM=" ng-href="/includes/veranexo.aspx?idattach=JCQnISEnJyM=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>SOLICITUD, CREACIÓN Y ACEPTACIÓN DE CÓDIGOS DE LOS INSUMOS</td>
<td>Anexos</td>
<td>21-07-2020 03:02 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnISEnJi0=" ng-href="/includes/veranexo.aspx?idattach=JCQnISEnJi0=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Resolución No 11 del 13 de marzo</td>
<td>Resolución Fundamento Legal Mesa Covid-19</td>
<td>31-08-2020 02:10 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQmLSwhJyI=" ng-href="/includes/veranexo.aspx?idattach=JCQmLSwhJyI=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Resolución No 18 del 31 demarzo</td>
<td>Resolución Fundamento Legal Mesa Covid-19</td>
<td>31-08-2020 02:10 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQmLSwhJy0=" ng-href="/includes/veranexo.aspx?idattach=JCQmLSwhJy0=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Propuesta de PROMED</td>
<td>Propuestas</td>
<td>31-08-2020 02:13 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQmLSwhISE=" ng-href="/includes/veranexo.aspx?idattach=JCQmLSwhISE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Solicitud de cotización</td>
<td>Terminos de referencia</td>
<td>31-08-2020 02:17 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQmLSwhLSA=" ng-href="/includes/veranexo.aspx?idattach=JCQmLSwhLSA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Declaración Precontractual</td>
<td>Anexos</td>
<td>02-09-2020 05:06 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQhJSctJCw=" ng-href="/includes/veranexo.aspx?idattach=JCQhJSctJCw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Orden de Compra</td>
<td>Anexos</td>
<td>02-09-2020 05:07 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQhJSctJyY=" ng-href="/includes/veranexo.aspx?idattach=JCQhJSctJyY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>NOTA DC/574-2020 </td>
<td>Otros</td>
<td>06-11-2020 09:56 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtJSYlIiU=" ng-href="/includes/veranexo.aspx?idattach=JCQtJSYlIiU=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>comprobante de orden </td>
<td>Anexos</td>
<td>16-11-2020 03:20 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIC0jICI=" ng-href="/includes/veranexo.aspx?idattach=JCQtIC0jICI=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>MULTA N°145</td>
<td>Otros</td>
<td>24-11-2020 03:50 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCAjLSQ=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCAjLSQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Documentos del Acto Público-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documetosPliego">
<div class="panel-heading" style="padding:5px 15px;"><b>Documentos del Acto Público</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Nombre Documento</th>
<th>Fecha Creación</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- --><tr ng-if="vpcp.list.documetosPliego.values.length==0">
<td colspan="4"><center>No hay documentos del acto público</center></td>
</tr><!-- -->
<!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Publicaciones Anteriores-->
<!-- -->
<!--Convocatorias Anteriores-->
<!-- -->
<!--opciones-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.opciones">
<div class="panel-heading" style="padding:5px 15px;"><b>Opciones</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<!-- --><a class="btn btn-default" id="vap" ng-click="vpcp.clickpdf(0)" ng-if="!vpcp.isIE9" title="Ver Acto Público en Formato PDF para imprimir">
<img src="/Inicio/images/ic_descargar_pdf.gif"/>
</a><!-- -->
<!-- --><a class="btn btn-default" ng-click="vpcp.clickpdf(1)" ng-if="!vpcp.isIE" style="margin-left:5px;" title="Imprimir Acto Publico">
<img src="/Inicio/images/ic_imprimir.gif"/>
</a><!-- -->
<!-- -->
<!-- -->
</div>
</div><!-- -->
<!-- --><button class="btn btn-default btn-sm" ng-click="vpcp.backbutton()" ng-if="!vpcp.param.hiddenBB">« Volver</button><!-- -->
</div>
</div>