<div class="col-sm-12 col-md-12" id="elementToPDF" ng-if="vpcp.list!=undefined &amp;&amp; vpcp.list!=false" style="font-size: 12px; background-color: rgb(255, 255, 255);">
<!--Encabezado del pliego-->
<!-- --><div class="well export-pdf table-responsive" ng-if="vpcp.list.header" style="margin-top:10px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Número:</b></td>
<td>2020-0-12-0-08-EM-029077</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Nombre del Acto:</b></td>
<td>PEDIDO 20-2100 CAMILLA PARA INYECTABLE F.T. 45829, SUMINISTRO DE PORTA CUADRICULAS DE CARRUSEL F.T. 48091</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Objeto de la Contratación:</b></td>
<td>Bien</td>
</tr><!-- -->
</tbody></table>
</div><!-- -->
<!-- --><div ng-include="'configVP.html'">
<!--Información de la Entidad-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.entityInformation">
<div class="panel-heading" style="padding:5px 15px;"><b>Información de la Entidad</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Entidad:</b></td>
<td>MINISTERIO DE SALUD</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Dependencia:</b></td>
<td>MINISTERIO DE SALUD</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Unidad De Compra:</b></td>
<td>Compras (ministerio de salud)</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Dirección:</b></td>
<td>ANCON , ANTIGUO HOSPITAL GORGAS, EDIFICIO 265</td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Contacto de la Unidad de Compra-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.contactUser">
<div class="panel-heading" style="padding:5px 15px;"><b>Contacto de la Unidad de Compra</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.contactUser.values">
<td width="250"><b>nombre</b></td>
<td>Denisis Karla Rebolledo Otero</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.contactUser.values">
<td width="250"><b>cargo</b></td>
<td>cotizadora </td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Aviso de Convocatoria-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.aviso">
<div class="panel-heading" style="padding:5px 15px;"><b>Aviso de Convocatoria</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Número de Acto:</b></td>
<!-- --><td ng-if="!isjson">2020-0-12-0-08-EM-029077</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Tipo de Procedimiento:</b></td>
<!-- --><td ng-if="!isjson">Compras Mesa COVID-19</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Fundamento de la Excepción</b></td>
<!-- --><td ng-if="!isjson">C) Resolución No. 11 del 13 de Marzo de 2020</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Objeto Contractual:</b></td>
<!-- --><td ng-if="!isjson">Bien</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Descripción:</b></td>
<!-- --><td ng-if="!isjson">PEDIDO 20-2100 CAMILLA PARA INYECTABLE F.T. 45829, SUMINISTRO DE PORTA CUADRICULAS DE CARRUSEL F.T. 48091</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Fecha de Publicación:</b></td>
<!-- --><td ng-if="!isjson">01-10-2020 12:23 PM</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Monto de la Contratación:</b></td>
<!-- --><td ng-if="!isjson">B/.  1,273.30</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Partidas presupuestales:</b></td>
<!-- -->
<!-- --><td ng-if="isjson">
<table border="1" id="table_inter_np" type="table_inter">
<tbody><tr style="background-color:#f5f5f5;">
<th style="padding:2px 5px;">N°</th>
<th style="padding:2px 5px;">Número Partida</th>
</tr>
<!-- --><tr ng-repeat="item1 in item.value">
<td style="padding:2px 5px;">1</td>
<td style="padding:2px 5px;">G.101250101.001.911</td>
</tr><!-- -->
</tbody></table>
</td><!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Programa:</b></td>
<!-- --><td ng-if="!isjson">---</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Datos de Contacto</b></td>
<!-- --><td ng-if="!isjson"></td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Nombre:</b></td>
<!-- --><td ng-if="!isjson">Denisis Karla Rebolledo Otero</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Cargo:</b></td>
<!-- --><td ng-if="!isjson">cotizadora </td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Teléfono:</b></td>
<!-- --><td ng-if="!isjson">507-5129103</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Correo Electrónico:</b></td>
<!-- --><td ng-if="!isjson">dkrebolledo@minsa.gob.pa</td><!-- -->
<!-- -->
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Condiciones Generales-->
<!-- -->
<!--Condiciones Especiales-->
<!-- -->
<!--Especificaciones Técnicas-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.especificacionesTecnicas">
<div class="panel-heading" style="padding:5px 15px;"><b>Especificaciones Técnicas</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<!-- --><span ng-repeat-start="item in vpcp.list.especificacionesTecnicas.values" style="font-size:13px;font-weight:bold;">Proponente Seleccionado</span>
<div class="table-responsive" ng-repeat-end="">
<!-- --><table class="table table-condensed table-bordered last-line-table" ng-if="item.type=='ps'" style="margin:0;margin-bottom:10px;" width="100%">
<tbody><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Nombre:</b></td>
<td>MEDICAL DEPOT</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Número de Identificación:</b></td>
<td>45090-108-298601-53</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Dirección:</b></td>
<td>Parque Lefevre, Calle 9 edif. Medical Depot</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Provincia:</b></td>
<td>PANAMÁ</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Distrito:</b></td>
<td>Panamá</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Correo Electrónico:</b></td>
<td>asistentedeventas@medicaldepotpanama.com</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Teléfono:</b></td>
<td>507-3108800</td>
</tr><!-- -->
</tbody></table><!-- -->
<!-- -->
</div><!-- --><span ng-repeat-start="item in vpcp.list.especificacionesTecnicas.values" style="font-size:13px;font-weight:bold;">Bien/Servicio/Obra Seleccionados</span>
<div class="table-responsive" ng-repeat-end="">
<!-- -->
<!-- --><table class="table table-condensed table-bordered table-striped last-line-table" ng-if="item.type=='bs'" style="margin:0;" width="100%">
<thead>
<tr>
<th>R</th>
<th>Código</th>
<th>Clasificación</th>
<th>Cantidad</th>
<th>U. Medida</th>
<th>Descripción</th>
<!-- -->
<!-- -->
<th>SES</th>
<!-- -->
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-repeat="item1 in item.values">
<td>1</td>
<td>42192207</td>
<td>Camillas de paciente o accesorios de camilla</td>
<td>1</td>
<td>Unidad</td>
<td>CAMILLA PARA INYECTABLE, HOMOLOGA 45829</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>2</td>
<td>41122601</td>
<td>Portaobjetos</td>
<td>1</td>
<td>Unidad</td>
<td>PORTA CUADRICULAS DE CARRUSEL, HO 48091</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- -->
</tbody></table><!-- -->
</div><!-- -->
</div>
</div><!-- -->
<!--Documentos Adjuntos-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documentosAdjuntos">
<div class="panel-heading" style="padding:5px 15px;"><b>Documentos Adjuntos</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Descripción</th>
<th>Tipo</th>
<th>Fecha</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Resoluciones y Decretos</td>
<td>Resoluciones</td>
<td>01-10-2020 09:43 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAjISE=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAjISE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Resoluciones y Decretos</td>
<td>Resoluciones</td>
<td>01-10-2020 09:44 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAjIyM=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAjIyM=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Resoluciones y Decretos</td>
<td>Resolución Fundamento Legal Mesa Covid-19</td>
<td>01-10-2020 09:44 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAjIiI=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAjIiI=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Proyecciones Covid-19</td>
<td>Otros</td>
<td>01-10-2020 09:45 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAjLCc=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAjLCc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Listado de Necesidades</td>
<td>Otros</td>
<td>01-10-2020 09:46 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAiJCY=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAiJCY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>impresión de catalogos</td>
<td>Otros</td>
<td>01-10-2020 09:47 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAiJyc=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAiJyc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Documentos de la Empresa</td>
<td>Otros</td>
<td>01-10-2020 09:48 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAiJiA=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAiJiA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Ficha Técnica</td>
<td>Otros</td>
<td>01-10-2020 09:49 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAiISY=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAiISY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Paz y Salvo DGI</td>
<td>Otros</td>
<td>01-10-2020 09:49 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAiICI=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAiICI=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Declaración de medidas de Retorsión</td>
<td>Otros</td>
<td>01-10-2020 09:50 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAiLSc=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAiLSc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Licencia de operaciones para la comercialización de Dispositivos Médicos</td>
<td>Otros</td>
<td>01-10-2020 09:51 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAiLCE=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAiLCE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Aviso de Operación</td>
<td>Otros</td>
<td>01-10-2020 09:51 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAtJSE=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAtJSE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Certificación  Comisión Nacional de Oferentes</td>
<td>Otros</td>
<td>01-10-2020 09:51 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAtJCc=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAtJCc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Registro Público</td>
<td>Otros</td>
<td>01-10-2020 09:52 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAtJyQ=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAtJyQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Cotización</td>
<td>Propuestas</td>
<td>01-10-2020 09:53 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAtJy0=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAtJy0=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Presupuesto</td>
<td>Otros</td>
<td>01-10-2020 09:53 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAtJiA=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAtJiA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Requisición</td>
<td>Terminos de referencia</td>
<td>01-10-2020 09:53 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAtISA=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAtISA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Informe de Capacidad Instalada</td>
<td>Otros</td>
<td>01-10-2020 09:54 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAtIyA=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAtIyA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Antecedentes y Justificaciones</td>
<td>Otros</td>
<td>01-10-2020 09:54 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAtIic=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAtIic=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Informe Técnico</td>
<td>Informes</td>
<td>01-10-2020 09:55 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAtLSE=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAtLSE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>listado de Verificación</td>
<td>Otros</td>
<td>01-10-2020 09:56 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiAsJyw=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiAsJyw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Certificado de Proceso Juridico</td>
<td>Otros</td>
<td>01-10-2020 10:00 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiMlJCw=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiMlJCw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>comprobante de entrega</td>
<td>Otros</td>
<td>01-10-2020 10:02 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiMlICY=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiMlICY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Hoja de Bloqueo </td>
<td>Otros</td>
<td>01-10-2020 10:02 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiMlIC0=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiMlIC0=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Paz y Salvo CSS</td>
<td>Otros</td>
<td>01-10-2020 10:03 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiMlIiU=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiMlIiU=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Cuadro de Cotizaciones</td>
<td>Otros</td>
<td>01-10-2020 10:05 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiMkJyc=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiMkJyc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Validación de Criterios</td>
<td>Otros</td>
<td>01-10-2020 10:06 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiMkJyM=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiMkJyM=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Orden de Compra</td>
<td>Otros</td>
<td>01-10-2020 10:06 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiMkJiQ=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiMkJiQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>listado especial de adquisición de emergencia</td>
<td>Otros</td>
<td>01-10-2020 10:06 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiMkJiw=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiMkJiw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Resoluciones y Decretos</td>
<td>Otros</td>
<td>01-10-2020 10:07 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgIiMkICc=" ng-href="/includes/veranexo.aspx?idattach=JCQgIiMkICc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Documentos del Acto Público-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documetosPliego">
<div class="panel-heading" style="padding:5px 15px;"><b>Documentos del Acto Público</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Nombre Documento</th>
<th>Fecha Creación</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- --><tr ng-if="vpcp.list.documetosPliego.values.length==0">
<td colspan="4"><center>No hay documentos del acto público</center></td>
</tr><!-- -->
<!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Publicaciones Anteriores-->
<!-- -->
<!--Convocatorias Anteriores-->
<!-- -->
<!--opciones-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.opciones">
<div class="panel-heading" style="padding:5px 15px;"><b>Opciones</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<!-- --><a class="btn btn-default" id="vap" ng-click="vpcp.clickpdf(0)" ng-if="!vpcp.isIE9" title="Ver Acto Público en Formato PDF para imprimir">
<img src="/Inicio/images/ic_descargar_pdf.gif"/>
</a><!-- -->
<!-- --><a class="btn btn-default" ng-click="vpcp.clickpdf(1)" ng-if="!vpcp.isIE" style="margin-left:5px;" title="Imprimir Acto Publico">
<img src="/Inicio/images/ic_imprimir.gif"/>
</a><!-- -->
<!-- -->
<!-- -->
</div>
</div><!-- -->
<!-- --><button class="btn btn-default btn-sm" ng-click="vpcp.backbutton()" ng-if="!vpcp.param.hiddenBB">« Volver</button><!-- -->
</div>
</div>