<div class="col-sm-12 col-md-12" id="elementToPDF" ng-if="vpcp.list!=undefined &amp;&amp; vpcp.list!=false" style="font-size: 12px; background-color: rgb(255, 255, 255);">
<!--Encabezado del pliego-->
<!-- --><div class="well export-pdf table-responsive" ng-if="vpcp.list.header" style="margin-top:10px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Número:</b></td>
<td>2020-1-11-0-08-EM-010915</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Nombre del Acto:</b></td>
<td>Equipo Automatizado para la preparación de las muestras en Biología Molecular</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Objeto de la Contratación:</b></td>
<td>Bien</td>
</tr><!-- -->
</tbody></table>
</div><!-- -->
<!-- --><div ng-include="'configVP.html'">
<!--Información de la Entidad-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.entityInformation">
<div class="panel-heading" style="padding:5px 15px;"><b>Información de la Entidad</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Entidad:</b></td>
<td>INSTITUTO CONMEMORATIVO GORGAS DE ESTUDIOS DE LA SALUD</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Dependencia:</b></td>
<td>SEDE</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Unidad De Compra:</b></td>
<td>Compras</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Dirección:</b></td>
<td>Dpto. de Compras, ubicado en el 2do. Piso del  Hospital Santo Tomás</td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Contacto de la Unidad de Compra-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.contactUser">
<div class="panel-heading" style="padding:5px 15px;"><b>Contacto de la Unidad de Compra</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.contactUser.values">
<td width="250"><b>nombre</b></td>
<td>Melissa Chavarria</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.contactUser.values">
<td width="250"><b>cargo</b></td>
<td>Cotizadora</td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Aviso de Convocatoria-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.aviso">
<div class="panel-heading" style="padding:5px 15px;"><b>Aviso de Convocatoria</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Número de Acto:</b></td>
<!-- --><td ng-if="!isjson">2020-1-11-0-08-EM-010915</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Tipo de Procedimiento:</b></td>
<!-- --><td ng-if="!isjson">Compras Mesa COVID-19</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Fundamento de la Excepción</b></td>
<!-- --><td ng-if="!isjson">C) Resolución No. 11 del 13 de Marzo de 2020</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Objeto Contractual:</b></td>
<!-- --><td ng-if="!isjson">Bien</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Descripción:</b></td>
<!-- --><td ng-if="!isjson">Equipo Automatizado para la preparación de las muestras en Biología Molecular</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Fecha de Publicación:</b></td>
<!-- --><td ng-if="!isjson">24-11-2020 01:13 PM</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Monto de la Contratación:</b></td>
<!-- --><td ng-if="!isjson">B/.  81,102.25</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Partidas presupuestales:</b></td>
<!-- -->
<!-- --><td ng-if="isjson">
<table border="1" id="table_inter_np" type="table_inter">
<tbody><tr style="background-color:#f5f5f5;">
<th style="padding:2px 5px;">N°</th>
<th style="padding:2px 5px;">Número Partida</th>
</tr>
<!-- --><tr ng-repeat="item1 in item.value">
<td style="padding:2px 5px;">1</td>
<td style="padding:2px 5px;">111130173.501.911</td>
</tr><!-- -->
</tbody></table>
</td><!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Programa:</b></td>
<!-- --><td ng-if="!isjson">---</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Datos de Contacto</b></td>
<!-- --><td ng-if="!isjson"></td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Nombre:</b></td>
<!-- --><td ng-if="!isjson">Melissa Chavarria</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Cargo:</b></td>
<!-- --><td ng-if="!isjson">Cotizadora</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Teléfono:</b></td>
<!-- --><td ng-if="!isjson">507-5274836</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Correo Electrónico:</b></td>
<!-- --><td ng-if="!isjson">mchavarria@gorgas.gob.pa</td><!-- -->
<!-- -->
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Condiciones Generales-->
<!-- -->
<!--Condiciones Especiales-->
<!-- -->
<!--Especificaciones Técnicas-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.especificacionesTecnicas">
<div class="panel-heading" style="padding:5px 15px;"><b>Especificaciones Técnicas</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<!-- --><span ng-repeat-start="item in vpcp.list.especificacionesTecnicas.values" style="font-size:13px;font-weight:bold;">Proponente Seleccionado</span>
<div class="table-responsive" ng-repeat-end="">
<!-- --><table class="table table-condensed table-bordered last-line-table" ng-if="item.type=='ps'" style="margin:0;margin-bottom:10px;" width="100%">
<tbody><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Nombre:</b></td>
<td>BIO LAB INTERNACIONAL, S.A.</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Número de Identificación:</b></td>
<td>277314-1-406896-44</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Dirección:</b></td>
<td>PANAMA VIEJO BUSINESS CENTER OFIC. O-07</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Provincia:</b></td>
<td>PANAMÁ</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Distrito:</b></td>
<td>Panamá</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Correo Electrónico:</b></td>
<td>vnavarro@biolabintl.com</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Teléfono:</b></td>
<td>507-2297111</td>
</tr><!-- -->
</tbody></table><!-- -->
<!-- -->
</div><!-- --><span ng-repeat-start="item in vpcp.list.especificacionesTecnicas.values" style="font-size:13px;font-weight:bold;">Bien/Servicio/Obra Seleccionados</span>
<div class="table-responsive" ng-repeat-end="">
<!-- -->
<!-- --><table class="table table-condensed table-bordered table-striped last-line-table" ng-if="item.type=='bs'" style="margin:0;" width="100%">
<thead>
<tr>
<th>R</th>
<th>Código</th>
<th>Clasificación</th>
<th>Cantidad</th>
<th>U. Medida</th>
<th>Descripción</th>
<!-- -->
<!-- -->
<th>SES</th>
<!-- -->
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-repeat="item1 in item.values">
<td>1</td>
<td>95101011</td>
<td>Equipo-Accesorios-Suministros Médicos</td>
<td>1</td>
<td>Unidad</td>
<td>Equipo Automatizado para la preparación de las muestras en Biología Molecular (Ficha Técnica 102854) la entrega del equipo debe incluir consumibles para aproximadamente 20,000.00</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- -->
</tbody></table><!-- -->
</div><!-- -->
</div>
</div><!-- -->
<!--Documentos Adjuntos-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documentosAdjuntos">
<div class="panel-heading" style="padding:5px 15px;"><b>Documentos Adjuntos</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Descripción</th>
<th>Tipo</th>
<th>Fecha</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>SOLICITUD DE BIENES Y SERVICIOS</td>
<td>Otros</td>
<td>17-11-2020 08:15 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyUnJiI=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyUnJiI=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Ficha Tecnica</td>
<td>Otros</td>
<td>17-11-2020 08:17 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyUnICA=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyUnICA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Oferente de la empresa </td>
<td>Otros</td>
<td>17-11-2020 08:18 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyUnIyQ=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyUnIyQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Paz y Salvo del CSS  Vigentes</td>
<td>Otros</td>
<td>17-11-2020 08:18 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyUnIyY=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyUnIyY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Paz y Salvo del MEF Vigente </td>
<td>Otros</td>
<td>17-11-2020 08:19 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyUnIyA=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyUnIyA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Registro Publico </td>
<td>Otros</td>
<td>17-11-2020 08:19 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyUnIyI=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyUnIyI=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Nota de Certificación</td>
<td>Otros</td>
<td>17-11-2020 08:20 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyUnIiQ=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyUnIiQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Aviso de Operaciones </td>
<td>Otros</td>
<td>17-11-2020 08:20 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyUnIiM=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyUnIiM=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Certificado de Proponente </td>
<td>Otros</td>
<td>17-11-2020 08:21 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyUnLSY=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyUnLSY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Cedula del Representante Legal /Apoderado</td>
<td>Otros</td>
<td>17-11-2020 08:21 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyUnLSI=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyUnLSI=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Licencia de Operación </td>
<td>Otros</td>
<td>17-11-2020 08:22 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyUnLCQ=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyUnLCQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Declaración Jurada de Medidas de Retorsión </td>
<td>Otros</td>
<td>17-11-2020 08:22 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyUnLCM=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyUnLCM=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Declaración Jurada de incapacidad para contratar</td>
<td>Otros</td>
<td>17-11-2020 08:22 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyUmJSE=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyUmJSE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Registro Sanitario</td>
<td>Otros</td>
<td>17-11-2020 08:23 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyUmJCc=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyUmJCc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Catalogos</td>
<td>Otros</td>
<td>17-11-2020 08:25 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyUmJyY=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyUmJyY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Resolución  del Consejo del Gabinete </td>
<td>Resolución Fundamento Legal Mesa Covid-19</td>
<td>17-11-2020 08:39 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyUhIyc=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyUhIyc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CIRCULAR DE EXONERACION DE IMPUESTO</td>
<td>Otros</td>
<td>17-11-2020 08:43 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyUhLCI=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyUhLCI=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Carta de Aprobación de Traslado de Partida</td>
<td>Otros</td>
<td>17-11-2020 09:19 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyQlJyE=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyQlJyE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Documento de Aprobación de SAP </td>
<td>Otros</td>
<td>17-11-2020 09:20 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIyQlISc=" ng-href="/includes/veranexo.aspx?idattach=JCQtIyQlISc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>PROPUESTA</td>
<td>Propuestas</td>
<td>18-11-2020 07:54 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQtIiUmIyw=" ng-href="/includes/veranexo.aspx?idattach=JCQtIiUmIyw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>listado de capacitación </td>
<td>Otros</td>
<td>23-11-2020 09:56 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJSQmLSU=" ng-href="/includes/veranexo.aspx?idattach=JCQsJSQmLSU=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>FIANZA DE CUMPLIMIENTO </td>
<td>Otros</td>
<td>23-11-2020 09:56 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJSQmLCc=" ng-href="/includes/veranexo.aspx?idattach=JCQsJSQmLCc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Nota 086-2020 DIVRB</td>
<td>Otros</td>
<td>24-11-2020 12:57 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCYhJiA=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCYhJiA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Cuadro de Propuesta </td>
<td>Otros</td>
<td>24-11-2020 01:01 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCYhLSw=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCYhLSw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>términos de referencia </td>
<td>Terminos de referencia</td>
<td>24-11-2020 01:03 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCYgJCw=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCYgJCw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>ORDEN DE COMPRA</td>
<td>Orden de Compra</td>
<td>01-12-2020 09:00 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsIS0mJyU=" ng-href="/includes/veranexo.aspx?idattach=JCQsIS0mJyU=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Documentos del Acto Público-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documetosPliego">
<div class="panel-heading" style="padding:5px 15px;"><b>Documentos del Acto Público</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Nombre Documento</th>
<th>Fecha Creación</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- --><tr ng-if="vpcp.list.documetosPliego.values.length==0">
<td colspan="4"><center>No hay documentos del acto público</center></td>
</tr><!-- -->
<!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Publicaciones Anteriores-->
<!-- -->
<!--Convocatorias Anteriores-->
<!-- -->
<!--opciones-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.opciones">
<div class="panel-heading" style="padding:5px 15px;"><b>Opciones</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<!-- --><a class="btn btn-default" id="vap" ng-click="vpcp.clickpdf(0)" ng-if="!vpcp.isIE9" title="Ver Acto Público en Formato PDF para imprimir">
<img src="/Inicio/images/ic_descargar_pdf.gif"/>
</a><!-- -->
<!-- --><a class="btn btn-default" ng-click="vpcp.clickpdf(1)" ng-if="!vpcp.isIE" style="margin-left:5px;" title="Imprimir Acto Publico">
<img src="/Inicio/images/ic_imprimir.gif"/>
</a><!-- -->
<!-- -->
<!-- -->
</div>
</div><!-- -->
<!-- --><button class="btn btn-default btn-sm" ng-click="vpcp.backbutton()" ng-if="!vpcp.param.hiddenBB">« Volver</button><!-- -->
</div>
</div>