<div class="col-sm-12 col-md-12" id="elementToPDF" ng-if="vpcp.list!=undefined &amp;&amp; vpcp.list!=false" style="font-size: 12px; background-color: rgb(255, 255, 255);">
<!--Encabezado del pliego-->
<!-- --><div class="well export-pdf table-responsive" ng-if="vpcp.list.header" style="margin-top:10px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Número:</b></td>
<td>2020-0-12-614-06-EM-007959</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Nombre del Acto:</b></td>
<td>REQ -UE-020-1369-2020,  JABON LIQUIDO.</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Objeto de la Contratación:</b></td>
<td>Bien</td>
</tr><!-- -->
</tbody></table>
</div><!-- -->
<!-- --><div ng-include="'configVP.html'">
<!--Información de la Entidad-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.entityInformation">
<div class="panel-heading" style="padding:5px 15px;"><b>Información de la Entidad</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Entidad:</b></td>
<td>MINISTERIO DE SALUD</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Dependencia:</b></td>
<td>HOSPITAL CECILIO A. CASTILLERO C.</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Unidad De Compra:</b></td>
<td>DEP. DE COMPRAS(H. CECILIO A. CASTILLERO C.)</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Dirección:</b></td>
<td>AVENIDA CARMELO SPADAFORA - CHITRE</td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Contacto de la Unidad de Compra-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.contactUser">
<div class="panel-heading" style="padding:5px 15px;"><b>Contacto de la Unidad de Compra</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.contactUser.values">
<td width="250"><b>nombre</b></td>
<td>NERIS  GONZALEZ</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.contactUser.values">
<td width="250"><b>cargo</b></td>
<td></td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Aviso de Convocatoria-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.aviso">
<div class="panel-heading" style="padding:5px 15px;"><b>Aviso de Convocatoria</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Número de Acto:</b></td>
<!-- --><td ng-if="!isjson">2020-0-12-614-06-EM-007959</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Tipo de Procedimiento:</b></td>
<!-- --><td ng-if="!isjson">Compras Mesa COVID-19</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Fundamento de la Excepción</b></td>
<!-- --><td ng-if="!isjson">D) Resolución No. 18 del 31 de Marzo de 2020</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Objeto Contractual:</b></td>
<!-- --><td ng-if="!isjson">Bien</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Descripción:</b></td>
<!-- --><td ng-if="!isjson">REQ -UE-020-1369-2020,  JABON LIQUIDO.</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Fecha de Publicación:</b></td>
<!-- --><td ng-if="!isjson">19-08-2020 03:22 PM</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Monto de la Contratación:</b></td>
<!-- --><td ng-if="!isjson">B/.  1,284.00</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Partidas presupuestales:</b></td>
<!-- -->
<!-- --><td ng-if="isjson">
<table border="1" id="table_inter_np" type="table_inter">
<tbody><tr style="background-color:#f5f5f5;">
<th style="padding:2px 5px;">N°</th>
<th style="padding:2px 5px;">Número Partida</th>
</tr>
<!-- --><tr ng-repeat="item1 in item.value">
<td style="padding:2px 5px;">1</td>
<td style="padding:2px 5px;">101250103001911</td>
</tr><!-- -->
</tbody></table>
</td><!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Programa:</b></td>
<!-- --><td ng-if="!isjson">---</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Datos de Contacto</b></td>
<!-- --><td ng-if="!isjson"></td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Nombre:</b></td>
<!-- --><td ng-if="!isjson">NERIS  GONZALEZ</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Cargo:</b></td>
<!-- --><td ng-if="!isjson"></td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Teléfono:</b></td>
<!-- --><td ng-if="!isjson">996-4194</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Correo Electrónico:</b></td>
<!-- --><td ng-if="!isjson">nergz@hotmail.com</td><!-- -->
<!-- -->
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Condiciones Generales-->
<!-- -->
<!--Condiciones Especiales-->
<!-- -->
<!--Especificaciones Técnicas-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.especificacionesTecnicas">
<div class="panel-heading" style="padding:5px 15px;"><b>Especificaciones Técnicas</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<!-- --><span ng-repeat-start="item in vpcp.list.especificacionesTecnicas.values" style="font-size:13px;font-weight:bold;">Bien/Servicio/Obra Seleccionados</span>
<div class="table-responsive" ng-repeat-end="">
<!-- -->
<!-- --><table class="table table-condensed table-bordered table-striped last-line-table" ng-if="item.type=='bs'" style="margin:0;" width="100%">
<thead>
<tr>
<th>R</th>
<th>Código</th>
<th>Clasificación</th>
<th>Cantidad</th>
<th>U. Medida</th>
<th>Descripción</th>
<!-- -->
<!-- -->
<th>SES</th>
<!-- -->
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-repeat="item1 in item.values">
<td>1</td>
<td>53131608</td>
<td>Jabones</td>
<td>150</td>
<td>Galón</td>
<td>JABON LAVAMANOS ANTIBACTERIAL GALON </td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- -->
</tbody></table><!-- -->
</div><!-- -->
</div>
</div><!-- -->
<!--Documentos Adjuntos-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documentosAdjuntos">
<div class="panel-heading" style="padding:5px 15px;"><b>Documentos Adjuntos</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Descripción</th>
<th>Tipo</th>
<th>Fecha</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CERTIFICADO DE PARTIDA</td>
<td>Anexos</td>
<td>15-07-2020 11:59 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnJyAiLCw=" ng-href="/includes/veranexo.aspx?idattach=JCQnJyAiLCw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>PLIEGO DE CARGO</td>
<td>Anexos</td>
<td>15-07-2020 11:59 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnJyAtJCQ=" ng-href="/includes/veranexo.aspx?idattach=JCQnJyAtJCQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CONFIRMACION DE CORREO</td>
<td>Anexos</td>
<td>15-07-2020 12:00 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnJyAtJCM=" ng-href="/includes/veranexo.aspx?idattach=JCQnJyAtJCM=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>AVISO DE OPERACION</td>
<td>Anexos</td>
<td>15-07-2020 12:01 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnJyAtJyE=" ng-href="/includes/veranexo.aspx?idattach=JCQnJyAtJyE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CERTIFICADO DE OFERENTE</td>
<td>Anexos</td>
<td>15-07-2020 12:01 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnJyAtJiU=" ng-href="/includes/veranexo.aspx?idattach=JCQnJyAtJiU=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>REGISTRO SANITARIO</td>
<td>Anexos</td>
<td>15-07-2020 12:04 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnJyAtIiY=" ng-href="/includes/veranexo.aspx?idattach=JCQnJyAtIiY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CATALOGO DE OFERENTE</td>
<td>Anexos</td>
<td>15-07-2020 12:04 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnJyAtIiA=" ng-href="/includes/veranexo.aspx?idattach=JCQnJyAtIiA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>DOCUMENTO DE PAZ Y SALVO MEF</td>
<td>Anexos</td>
<td>15-07-2020 12:05 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnJyAtIi0=" ng-href="/includes/veranexo.aspx?idattach=JCQnJyAtIi0=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CERTIFICADO DE PAZ Y SALVO CSS</td>
<td>Anexos</td>
<td>15-07-2020 12:05 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnJyAtLSU=" ng-href="/includes/veranexo.aspx?idattach=JCQnJyAtLSU=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>DOCUMENTO DE DECLARACION JURADA</td>
<td>Anexos</td>
<td>15-07-2020 12:06 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnJyAtLSc=" ng-href="/includes/veranexo.aspx?idattach=JCQnJyAtLSc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CERTIFICADO DE REGISTRO PUBLICO</td>
<td>Anexos</td>
<td>15-07-2020 12:06 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnJyAtLSA=" ng-href="/includes/veranexo.aspx?idattach=JCQnJyAtLSA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CEDULA DE REPRESENTANTE LEGAL</td>
<td>Anexos</td>
<td>15-07-2020 12:06 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnJyAtLS0=" ng-href="/includes/veranexo.aspx?idattach=JCQnJyAtLS0=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>NOTA DE JUSTIFICACION</td>
<td>Anexos</td>
<td>15-07-2020 12:07 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnJyAtLCU=" ng-href="/includes/veranexo.aspx?idattach=JCQnJyAtLCU=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>COTIZACION DE INDUSTRIAS CARSOL S.A.</td>
<td>Anexos</td>
<td>15-07-2020 12:07 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnJyAtLCc=" ng-href="/includes/veranexo.aspx?idattach=JCQnJyAtLCc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CUADRO DE ANALISIS</td>
<td>Anexos</td>
<td>15-07-2020 12:08 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnJyAtLCM=" ng-href="/includes/veranexo.aspx?idattach=JCQnJyAtLCM=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>EVALUACION TECNICA -  UNIDAD SOLICITANTE</td>
<td>Anexos</td>
<td>15-07-2020 12:08 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnJyAsJSQ=" ng-href="/includes/veranexo.aspx?idattach=JCQnJyAsJSQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>ORDEN DE COMPRA REFRENDADA</td>
<td>Otros</td>
<td>24-07-2020 03:27 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnIC0kJiA=" ng-href="/includes/veranexo.aspx?idattach=JCQnIC0kJiA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>SOLICITUD DE BIENES Y SERVICIOS</td>
<td>Terminos de referencia</td>
<td>19-08-2020 11:19 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQmISEkICY=" ng-href="/includes/veranexo.aspx?idattach=JCQmISEkICY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>PROPUESTA</td>
<td>Propuestas</td>
<td>19-08-2020 11:20 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQmISEkIyM=" ng-href="/includes/veranexo.aspx?idattach=JCQmISEkIyM=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>RESOLUCION DE GABINETE N° 18</td>
<td>Resolución Fundamento Legal Mesa Covid-19</td>
<td>19-08-2020 02:14 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQmISAiJiU=" ng-href="/includes/veranexo.aspx?idattach=JCQmISAiJiU=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>RESOLUCION DE GABINETE N° 11</td>
<td>Resolución Fundamento Legal Mesa Covid-19</td>
<td>19-08-2020 02:15 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQmISAiJic=" ng-href="/includes/veranexo.aspx?idattach=JCQmISAiJic=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Documentos del Acto Público-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documetosPliego">
<div class="panel-heading" style="padding:5px 15px;"><b>Documentos del Acto Público</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Nombre Documento</th>
<th>Fecha Creación</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-repeat="item in vpcp.list.documetosPliego.values">
<td>Adenda N° 1</td>
<td>19-08-2020 03:23 PM</td>
<td><a href="/adquisicion/Visualizacion/VerAdenda.aspx?IdLC=2403700&amp;VersionAdenda=1&amp;EsAdenda=True&amp;IdOrgCompra=22999" ng-href="/adquisicion/Visualizacion/VerAdenda.aspx?IdLC=2403700&amp;VersionAdenda=1&amp;EsAdenda=True&amp;IdOrgCompra=22999" target="_blank">Ver Adenda</a></td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Publicaciones Anteriores-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documetosAnteriores">
<div class="panel-heading" style="padding:5px 15px;"><b>Publicaciones Anteriores</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Nombre Documento</th>
<th>Fecha Publicación</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-repeat="item in vpcp.list.documetosAnteriores.values">
<td>Publicación Anterior</td>
<td>19-08-2020 03:22 PM</td>
<td><a href="/Inicio/#!/vistaPreviaCP?IdLC=JyElJiIlJQ==&amp;VersionAdenda=1&amp;EsAdenda=true&amp;AP=true" ng-href="/Inicio/#!/vistaPreviaCP?IdLC=JyElJiIlJQ==&amp;VersionAdenda=1&amp;EsAdenda=true&amp;AP=true" ng-init="vpcp.getURL(item,1)">Pliego Original</a></td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Convocatorias Anteriores-->
<!-- -->
<!--opciones-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.opciones">
<div class="panel-heading" style="padding:5px 15px;"><b>Opciones</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<!-- --><a class="btn btn-default" id="vap" ng-click="vpcp.clickpdf(0)" ng-if="!vpcp.isIE9" title="Ver Acto Público en Formato PDF para imprimir">
<img src="/Inicio/images/ic_descargar_pdf.gif"/>
</a><!-- -->
<!-- --><a class="btn btn-default" ng-click="vpcp.clickpdf(1)" ng-if="!vpcp.isIE" style="margin-left:5px;" title="Imprimir Acto Publico">
<img src="/Inicio/images/ic_imprimir.gif"/>
</a><!-- -->
<!-- -->
<!-- -->
</div>
</div><!-- -->
<!-- --><button class="btn btn-default btn-sm" ng-click="vpcp.backbutton()" ng-if="!vpcp.param.hiddenBB">« Volver</button><!-- -->
</div>
</div>