<div class="col-sm-12 col-md-12" id="elementToPDF" ng-if="vpcp.list!=undefined &amp;&amp; vpcp.list!=false" style="font-size: 12px; background-color: rgb(255, 255, 255);">
<!--Encabezado del pliego-->
<!-- --><div class="well export-pdf table-responsive" ng-if="vpcp.list.header" style="margin-top:10px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Número:</b></td>
<td>2020-2-66-0-08-EM-015853</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Nombre del Acto:</b></td>
<td>MATERIALES DE HIERRO</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Objeto de la Contratación:</b></td>
<td>Bien</td>
</tr><!-- -->
</tbody></table>
</div><!-- -->
<!-- --><div ng-include="'configVP.html'">
<!--Información de la Entidad-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.entityInformation">
<div class="panel-heading" style="padding:5px 15px;"><b>Información de la Entidad</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Entidad:</b></td>
<td>INSTITUTO DE ACUEDUCTOS Y ALCANTARILLADOS NACIONALES</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Dependencia:</b></td>
<td>SEDE</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Unidad De Compra:</b></td>
<td>DEPARTAMENTO DE COMPRA</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Dirección:</b></td>
<td>Panamá, IDAAN VÍA BRAZIL, SÓTANO</td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Contacto de la Unidad de Compra-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.contactUser">
<div class="panel-heading" style="padding:5px 15px;"><b>Contacto de la Unidad de Compra</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.contactUser.values">
<td width="250"><b>nombre</b></td>
<td>David Díaz</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.contactUser.values">
<td width="250"><b>cargo</b></td>
<td></td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Aviso de Convocatoria-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.aviso">
<div class="panel-heading" style="padding:5px 15px;"><b>Aviso de Convocatoria</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Número de Acto:</b></td>
<!-- --><td ng-if="!isjson">2020-2-66-0-08-EM-015853</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Tipo de Procedimiento:</b></td>
<!-- --><td ng-if="!isjson">Compras Mesa COVID-19</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Fundamento de la Excepción</b></td>
<!-- --><td ng-if="!isjson"></td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Objeto Contractual:</b></td>
<!-- --><td ng-if="!isjson">Bien</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Descripción:</b></td>
<!-- --><td ng-if="!isjson">MATERIALES DE HIERRO</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Fecha de Publicación:</b></td>
<!-- --><td ng-if="!isjson">05-08-2020 05:21 PM</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Monto de la Contratación:</b></td>
<!-- --><td ng-if="!isjson">B/.  36,165.78</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Partidas presupuestales:</b></td>
<!-- -->
<!-- --><td ng-if="isjson">
<table border="1" id="table_inter_np" type="table_inter">
<tbody><tr style="background-color:#f5f5f5;">
<th style="padding:2px 5px;">N°</th>
<th style="padding:2px 5px;">Número Partida</th>
</tr>
<!-- --><tr ng-repeat="item1 in item.value">
<td style="padding:2px 5px;">1</td>
<td style="padding:2px 5px;">266145010205911</td>
</tr><!-- -->
</tbody></table>
</td><!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Programa:</b></td>
<!-- --><td ng-if="!isjson">---</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Datos de Contacto</b></td>
<!-- --><td ng-if="!isjson"></td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Nombre:</b></td>
<!-- --><td ng-if="!isjson">David Díaz</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Cargo:</b></td>
<!-- --><td ng-if="!isjson"></td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Teléfono:</b></td>
<!-- --><td ng-if="!isjson">523-8561</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Correo Electrónico:</b></td>
<!-- --><td ng-if="!isjson">ddiaz@idaan.gob.pa</td><!-- -->
<!-- -->
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Condiciones Generales-->
<!-- -->
<!--Condiciones Especiales-->
<!-- -->
<!--Especificaciones Técnicas-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.especificacionesTecnicas">
<div class="panel-heading" style="padding:5px 15px;"><b>Especificaciones Técnicas</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<!-- --><span ng-repeat-start="item in vpcp.list.especificacionesTecnicas.values" style="font-size:13px;font-weight:bold;">Bien/Servicio/Obra Seleccionados</span>
<div class="table-responsive" ng-repeat-end="">
<!-- -->
<!-- --><table class="table table-condensed table-bordered table-striped last-line-table" ng-if="item.type=='bs'" style="margin:0;" width="100%">
<thead>
<tr>
<th>R</th>
<th>Código</th>
<th>Clasificación</th>
<th>Cantidad</th>
<th>U. Medida</th>
<th>Descripción</th>
<!-- -->
<!-- -->
<th>SES</th>
<!-- -->
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-repeat="item1 in item.values">
<td>1</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>15</td>
<td>Unidad</td>
<td>CODOS H.F. 90 X 4''  CON J.M.</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>2</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>15</td>
<td>Unidad</td>
<td>CODOS H.F. 90 X 6''  CON J.M.</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>3</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>10</td>
<td>Unidad</td>
<td>CODO DE HD J.M 8'' X 90</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>4</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>5</td>
<td>Unidad</td>
<td>CODO DE H.F. DE 10 X 90 JM</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>5</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>5</td>
<td>Unidad</td>
<td>CODO HF 90 X 16 JM</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>6</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>5</td>
<td>Unidad</td>
<td>CODO DE 90 X 18''  CON J.M.</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>7</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>15</td>
<td>Unidad</td>
<td>CODOS H.F. 45 X 4''  CON J.M.</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>8</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>15</td>
<td>Unidad</td>
<td>CODOS H.F. 45 X 6''  CON J.M.</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>9</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>15</td>
<td>Unidad</td>
<td>CODO 45 X 8'' H.D. J/M.</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>10</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>10</td>
<td>Unidad</td>
<td>CODO 45 X10''  H.D. J.M. NORMA AWWA</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>11</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>5</td>
<td>Unidad</td>
<td>CODOS H.F. 45 X16''  CON J.M.</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>12</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>5</td>
<td>Unidad</td>
<td>CODOS H.F. 45 X18''  CON J.M.</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>13</td>
<td>40142305</td>
<td>Reductores de tubería</td>
<td>5</td>
<td>Unidad</td>
<td>REDUCTOR HF DE JM 8 X 6</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>14</td>
<td>40142305</td>
<td>Reductores de tubería</td>
<td>5</td>
<td>Unidad</td>
<td>REDUCTOR HF DE JM 12 X 8</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>15</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>5</td>
<td>Unidad</td>
<td>TEE DE H.D. DE 4''X 4''X4'' J.M. ACCESOR</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>16</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>5</td>
<td>Unidad</td>
<td>TEE H.F. 8''X8''X3'' J.M. COMPL.C/ACCESO</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>17</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>5</td>
<td>Unidad</td>
<td>TEE DE HD J.M DE 10'' X 4''</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>18</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>5</td>
<td>Unidad</td>
<td>TEE H.D. 12'' X 12'' X 6'' J/M.</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>19</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>5</td>
<td>Unidad</td>
<td>TAPON DE  H.F. MACHO DE 8''</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>20</td>
<td>40141609</td>
<td>Válvulas de control</td>
<td>10</td>
<td>Unidad</td>
<td>VALVULA DE COMPUERTA DE  4''  HF.  JM</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>21</td>
<td>40141609</td>
<td>Válvulas de control</td>
<td>1</td>
<td>Unidad</td>
<td>VALVULA DE ALTITUD DE 4''</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>22</td>
<td>40141609</td>
<td>Válvulas de control</td>
<td>1</td>
<td>Unidad</td>
<td>VALVULA DE ALTITUD DE 6''</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>23</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>40</td>
<td>Unidad</td>
<td>JUNTA MECANICA DE RET.JM 6''PARA HD</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>24</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>40</td>
<td>Unidad</td>
<td>JUNTA MECAN.RET.JM 4''BRIDA REST.PARA PVC</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>25</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>40</td>
<td>Unidad</td>
<td>JUNTA MECAN. RET. 6''BRIDA REST.PARA PVC</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>26</td>
<td>40141720</td>
<td>Conectores para fontanería</td>
<td>5</td>
<td>Unidad</td>
<td>BRIDA RESTRINGIDA H.F. DE 18</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- -->
</tbody></table><!-- -->
</div><!-- -->
</div>
</div><!-- -->
<!--Documentos Adjuntos-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documentosAdjuntos">
<div class="panel-heading" style="padding:5px 15px;"><b>Documentos Adjuntos</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Descripción</th>
<th>Tipo</th>
<th>Fecha</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>AVISO DE OPERACIÓN</td>
<td>Otros</td>
<td>03-08-2020 11:05 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLSAkJiw=" ng-href="/includes/veranexo.aspx?idattach=JCQnLSAkJiw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CÉDULA DE REPRESENTANTE LEGAL</td>
<td>Otros</td>
<td>03-08-2020 11:06 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLSAkICc=" ng-href="/includes/veranexo.aspx?idattach=JCQnLSAkICc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CERTIFICADO DE AMPYME</td>
<td>Otros</td>
<td>03-08-2020 11:07 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLSAkICM=" ng-href="/includes/veranexo.aspx?idattach=JCQnLSAkICM=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CERTIFICADO DE REGISTRO DE PROPONENTE</td>
<td>Otros</td>
<td>03-08-2020 11:07 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLSAkICw=" ng-href="/includes/veranexo.aspx?idattach=JCQnLSAkICw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>COTIZACIONES</td>
<td>Propuestas</td>
<td>03-08-2020 11:08 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLSAkIy0=" ng-href="/includes/veranexo.aspx?idattach=JCQnLSAkIy0=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CUADRO DE COTIZACIONES</td>
<td>Actas</td>
<td>03-08-2020 11:08 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLSAkIic=" ng-href="/includes/veranexo.aspx?idattach=JCQnLSAkIic=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>EVALUACIÓN TÉCNICA</td>
<td>Informe Técnico</td>
<td>03-08-2020 11:09 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLSAkLSQ=" ng-href="/includes/veranexo.aspx?idattach=JCQnLSAkLSQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>ORDEN DE COMPRA</td>
<td>Orden de Compra</td>
<td>03-08-2020 11:09 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLSAkLSA=" ng-href="/includes/veranexo.aspx?idattach=JCQnLSAkLSA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>PAZ Y SALVO CSS</td>
<td>Otros</td>
<td>03-08-2020 11:09 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLSAkLSw=" ng-href="/includes/veranexo.aspx?idattach=JCQnLSAkLSw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>PAZ Y SALVO DGI</td>
<td>Otros</td>
<td>03-08-2020 11:10 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLSAkLCQ=" ng-href="/includes/veranexo.aspx?idattach=JCQnLSAkLCQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>ORDEN DE COMPRA CON FECHA</td>
<td>Orden de Compra</td>
<td>06-08-2020 11:57 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLCwmLCQ=" ng-href="/includes/veranexo.aspx?idattach=JCQnLCwmLCQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Documentos del Acto Público-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documetosPliego">
<div class="panel-heading" style="padding:5px 15px;"><b>Documentos del Acto Público</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Nombre Documento</th>
<th>Fecha Creación</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- --><tr ng-if="vpcp.list.documetosPliego.values.length==0">
<td colspan="4"><center>No hay documentos del acto público</center></td>
</tr><!-- -->
<!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Publicaciones Anteriores-->
<!-- -->
<!--Convocatorias Anteriores-->
<!-- -->
<!--opciones-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.opciones">
<div class="panel-heading" style="padding:5px 15px;"><b>Opciones</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<!-- --><a class="btn btn-default" id="vap" ng-click="vpcp.clickpdf(0)" ng-if="!vpcp.isIE9" title="Ver Acto Público en Formato PDF para imprimir">
<img src="/Inicio/images/ic_descargar_pdf.gif"/>
</a><!-- -->
<!-- --><a class="btn btn-default" ng-click="vpcp.clickpdf(1)" ng-if="!vpcp.isIE" style="margin-left:5px;" title="Imprimir Acto Publico">
<img src="/Inicio/images/ic_imprimir.gif"/>
</a><!-- -->
<!-- -->
<!-- -->
</div>
</div><!-- -->
<!-- --><button class="btn btn-default btn-sm" ng-click="vpcp.backbutton()" ng-if="!vpcp.param.hiddenBB">« Volver</button><!-- -->
</div>
</div>