<div class="col-sm-12 col-md-12" id="elementToPDF" ng-if="vpcp.list!=undefined &amp;&amp; vpcp.list!=false" style="font-size: 12px; background-color: rgb(255, 255, 255);">
<!--Encabezado del pliego-->
<!-- --><div class="well export-pdf table-responsive" ng-if="vpcp.list.header" style="margin-top:10px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Número:</b></td>
<td>2020-0-12-119-04-EM-023520</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Nombre del Acto:</b></td>
<td>GUANTES DE NITRILO SIN POLVO TAMAÑO PEQUEÑO, MEDIANO Y GRANDE REQ. 322 (M.Q.) (COMPRA COVID-19)</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Objeto de la Contratación:</b></td>
<td>Bien</td>
</tr><!-- -->
</tbody></table>
</div><!-- -->
<!-- --><div ng-include="'configVP.html'">
<!--Información de la Entidad-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.entityInformation">
<div class="panel-heading" style="padding:5px 15px;"><b>Información de la Entidad</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Entidad:</b></td>
<td>MINISTERIO DE SALUD</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Dependencia:</b></td>
<td>HOSPITAL JOSE DOMINGO DE OBALDÍA</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Unidad De Compra:</b></td>
<td>DEPARTAMENTO DE COMPRAS(H. JOSÉ DOMINGO DE OBALDIA)</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Dirección:</b></td>
<td>SAN PABLO VIEJO, DAVID, CHIRIQUÍ</td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Contacto de la Unidad de Compra-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.contactUser">
<div class="panel-heading" style="padding:5px 15px;"><b>Contacto de la Unidad de Compra</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.contactUser.values">
<td width="250"><b>nombre</b></td>
<td>Emerita Liseth Miranda </td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.contactUser.values">
<td width="250"><b>cargo</b></td>
<td>cotizadora </td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Aviso de Convocatoria-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.aviso">
<div class="panel-heading" style="padding:5px 15px;"><b>Aviso de Convocatoria</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Número de Acto:</b></td>
<!-- --><td ng-if="!isjson">2020-0-12-119-04-EM-023520</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Tipo de Procedimiento:</b></td>
<!-- --><td ng-if="!isjson">Compras Mesa COVID-19</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Fundamento de la Excepción</b></td>
<!-- --><td ng-if="!isjson">D) Resolución No. 18 del 31 de Marzo de 2020</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Objeto Contractual:</b></td>
<!-- --><td ng-if="!isjson">Bien</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Descripción:</b></td>
<!-- --><td ng-if="!isjson">GUANTES DE NITRILO SIN POLVO TAMAÑO PEQUEÑO, MEDIANO Y GRANDE REQ. 322 (M.Q.) (COMPRA COVID-19)</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Fecha de Publicación:</b></td>
<!-- --><td ng-if="!isjson">25-11-2020 09:13 AM</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Monto de la Contratación:</b></td>
<!-- --><td ng-if="!isjson">B/.  19,260.00</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Partidas presupuestales:</b></td>
<!-- -->
<!-- --><td ng-if="isjson">
<table border="1" id="table_inter_np" type="table_inter">
<tbody><tr style="background-color:#f5f5f5;">
<th style="padding:2px 5px;">N°</th>
<th style="padding:2px 5px;">Número Partida</th>
</tr>
<!-- --><tr ng-repeat="item1 in item.value">
<td style="padding:2px 5px;">1</td>
<td style="padding:2px 5px;">F.T.0.02.0.3.001.02.19.911</td>
</tr><!-- -->
</tbody></table>
</td><!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Programa:</b></td>
<!-- --><td ng-if="!isjson">---</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Datos de Contacto</b></td>
<!-- --><td ng-if="!isjson"></td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Nombre:</b></td>
<!-- --><td ng-if="!isjson">Emerita Liseth Miranda </td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Cargo:</b></td>
<!-- --><td ng-if="!isjson">cotizadora </td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Teléfono:</b></td>
<!-- --><td ng-if="!isjson">507-7754228/7753719</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Correo Electrónico:</b></td>
<!-- --><td ng-if="!isjson">emerita.miranda@obaldia.sld.pa</td><!-- -->
<!-- -->
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Condiciones Generales-->
<!-- -->
<!--Condiciones Especiales-->
<!-- -->
<!--Especificaciones Técnicas-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.especificacionesTecnicas">
<div class="panel-heading" style="padding:5px 15px;"><b>Especificaciones Técnicas</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<!-- --><span ng-repeat-start="item in vpcp.list.especificacionesTecnicas.values" style="font-size:13px;font-weight:bold;">Proponente Seleccionado</span>
<div class="table-responsive" ng-repeat-end="">
<!-- --><table class="table table-condensed table-bordered last-line-table" ng-if="item.type=='ps'" style="margin:0;margin-bottom:10px;" width="100%">
<tbody><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Nombre:</b></td>
<td>ALTA TECNOLOGIA MEDICA, S.A.</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Número de Identificación:</b></td>
<td>752228-1-480172-33</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Dirección:</b></td>
<td>Bethania Miraflores Ave 20G Norte casa 192</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Provincia:</b></td>
<td>PANAMÁ</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Distrito:</b></td>
<td>Panamá</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Correo Electrónico:</b></td>
<td>irsy.quiel@atmsapanama.com</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Teléfono:</b></td>
<td>507-2360411</td>
</tr><!-- -->
</tbody></table><!-- -->
<!-- -->
</div><!-- --><span ng-repeat-start="item in vpcp.list.especificacionesTecnicas.values" style="font-size:13px;font-weight:bold;">Bien/Servicio/Obra Seleccionados</span>
<div class="table-responsive" ng-repeat-end="">
<!-- -->
<!-- --><table class="table table-condensed table-bordered table-striped last-line-table" ng-if="item.type=='bs'" style="margin:0;" width="100%">
<thead>
<tr>
<th>R</th>
<th>Código</th>
<th>Clasificación</th>
<th>Cantidad</th>
<th>U. Medida</th>
<th>Descripción</th>
<!-- -->
<!-- -->
<th>SES</th>
<!-- -->
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-repeat="item1 in item.values">
<td>1</td>
<td>95101011</td>
<td>Equipo-Accesorios-Suministros Médicos</td>
<td>60,000</td>
<td>Unidad</td>
<td>GUANTES DE NITRILO SIN POLVO TAMAÑO PEQUEÑO F.T.106389 </td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>2</td>
<td>95101011</td>
<td>Equipo-Accesorios-Suministros Médicos</td>
<td>60,000</td>
<td>Unidad</td>
<td>GUANTES DE NITRILO SIN POLVO TAMAÑO MEDIANO F.T.106389</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>3</td>
<td>95101011</td>
<td>Equipo-Accesorios-Suministros Médicos</td>
<td>60,000</td>
<td>Unidad</td>
<td>GUANTES DE NITRILO SIN POLVO TAMAÑO GRANDE F.T.106389</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- -->
</tbody></table><!-- -->
</div><!-- -->
</div>
</div><!-- -->
<!--Documentos Adjuntos-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documentosAdjuntos">
<div class="panel-heading" style="padding:5px 15px;"><b>Documentos Adjuntos</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Descripción</th>
<th>Tipo</th>
<th>Fecha</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Resolución No 11 del 13 de marzo</td>
<td>Resolución Fundamento Legal Mesa Covid-19</td>
<td>25-11-2020 07:16 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiISw=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiISw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Resolución No 18 del 31 de marzo</td>
<td>Resolución Fundamento Legal Mesa Covid-19</td>
<td>25-11-2020 07:17 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiICU=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiICU=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Solicitud de cotización en línea CL-023501</td>
<td>Terminos de referencia</td>
<td>25-11-2020 07:21 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiICQ=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiICQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Cuadro de cotizaciones</td>
<td>Anexos</td>
<td>25-11-2020 07:27 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiICE=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiICE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Registro Publico </td>
<td>Anexos</td>
<td>25-11-2020 07:29 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiICM=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiICM=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Poder Notariado</td>
<td>Anexos</td>
<td>25-11-2020 07:31 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiICI=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiICI=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Copias de cédula de representante y apoderada legal</td>
<td>Anexos</td>
<td>25-11-2020 07:32 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiIyU=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiIyU=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Licencia de operaciones para la comercialización de Dispositivos Médicos</td>
<td>Anexos</td>
<td>25-11-2020 07:34 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiIyY=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiIyY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Certificado de Registro de Proponente emitido por la DGCP</td>
<td>Anexos</td>
<td>25-11-2020 07:36 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiIyE=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiIyE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Certificado de Paz y Salvo de la DGI</td>
<td>Anexos</td>
<td>25-11-2020 07:37 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiIyI=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiIyI=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Certificado de Paz y Salvo de la CSS</td>
<td>Anexos</td>
<td>25-11-2020 07:39 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiIiQ=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiIiQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Declaración Jurada de Medidas de Retorsión</td>
<td>Anexos</td>
<td>25-11-2020 07:40 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiIiY=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiIiY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Declaración Jurada de Incapacidad Legal para Contratar</td>
<td>Anexos</td>
<td>25-11-2020 07:41 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiIiE=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiIiE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Aviso de Operaciones</td>
<td>Anexos</td>
<td>25-11-2020 07:42 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiIi0=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiIi0=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Registro de Oferentes</td>
<td>Anexos</td>
<td>25-11-2020 07:43 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiLSQ=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiLSQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Certificaciones del Fabricante del Insumo</td>
<td>Anexos</td>
<td>25-11-2020 07:47 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiLSE=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiLSE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Catálogo de Insumo</td>
<td>Anexos</td>
<td>25-11-2020 07:49 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiLSI=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiLSI=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Catálogo del Proveedor</td>
<td>Anexos</td>
<td>25-11-2020 07:50 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiLSw=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiLSw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Criterio Técnico</td>
<td>Anexos</td>
<td>25-11-2020 07:52 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiLCY=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiLCY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Verificación del Criterio Técnico</td>
<td>Anexos</td>
<td>25-11-2020 07:53 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMiLCw=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMiLCw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Propuesta del proponente</td>
<td>Propuestas</td>
<td>25-11-2020 07:57 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMtJSA=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMtJSA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Propuesta Electrónica</td>
<td>Propuestas</td>
<td>25-11-2020 07:58 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMtJS0=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMtJS0=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Correo de solicitud de Certificaciones no Presentadas en el Portal</td>
<td>Anexos</td>
<td>25-11-2020 08:00 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMtJCM=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMtJCM=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Correo de respuesta</td>
<td>Anexos</td>
<td>25-11-2020 08:01 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMtJCw=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMtJCw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Certificaciones</td>
<td>Anexos</td>
<td>25-11-2020 08:02 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMtJyM=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMtJyM=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Solicitud de Evaluación</td>
<td>Anexos</td>
<td>25-11-2020 08:03 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMtISc=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMtISc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Evaluación del Departamento</td>
<td>Anexos</td>
<td>25-11-2020 08:04 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMtICU=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMtICU=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Cuadro de propuestas (adjudicación)</td>
<td>Anexos</td>
<td>25-11-2020 08:08 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMtLSY=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMtLSY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Solicitud de bloqueo</td>
<td>Anexos</td>
<td>25-11-2020 08:09 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMtLS0=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMtLS0=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Bloqueo</td>
<td>Anexos</td>
<td>25-11-2020 08:11 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMtLCE=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMtLCE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>Comprometido. Ref. de bloqueo</td>
<td>Anexos</td>
<td>25-11-2020 08:12 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJCMsJSw=" ng-href="/includes/veranexo.aspx?idattach=JCQsJCMsJSw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>ISTMO 4200320573  ALTA TEC. MEDICA, S.A.</td>
<td>Orden de Compra</td>
<td>27-11-2020 02:51 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsJi0kIiI=" ng-href="/includes/veranexo.aspx?idattach=JCQsJi0kIiI=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Documentos del Acto Público-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documetosPliego">
<div class="panel-heading" style="padding:5px 15px;"><b>Documentos del Acto Público</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Nombre Documento</th>
<th>Fecha Creación</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- --><tr ng-if="vpcp.list.documetosPliego.values.length==0">
<td colspan="4"><center>No hay documentos del acto público</center></td>
</tr><!-- -->
<!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Publicaciones Anteriores-->
<!-- -->
<!--Convocatorias Anteriores-->
<!-- -->
<!--opciones-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.opciones">
<div class="panel-heading" style="padding:5px 15px;"><b>Opciones</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<!-- --><a class="btn btn-default" id="vap" ng-click="vpcp.clickpdf(0)" ng-if="!vpcp.isIE9" title="Ver Acto Público en Formato PDF para imprimir">
<img src="/Inicio/images/ic_descargar_pdf.gif"/>
</a><!-- -->
<!-- --><a class="btn btn-default" ng-click="vpcp.clickpdf(1)" ng-if="!vpcp.isIE" style="margin-left:5px;" title="Imprimir Acto Publico">
<img src="/Inicio/images/ic_imprimir.gif"/>
</a><!-- -->
<!-- -->
<!-- -->
</div>
</div><!-- -->
<!-- --><button class="btn btn-default btn-sm" ng-click="vpcp.backbutton()" ng-if="!vpcp.param.hiddenBB">« Volver</button><!-- -->
</div>
</div>