<div class="col-sm-12 col-md-12" id="elementToPDF" ng-if="vpcp.list!=undefined &amp;&amp; vpcp.list!=false" style="font-size: 12px; background-color: rgb(255, 255, 255);">
<!--Encabezado del pliego-->
<!-- --><div class="well export-pdf table-responsive" ng-if="vpcp.list.header" style="margin-top:10px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Número:</b></td>
<td>2020-2-66-0-01-EM-015971</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Nombre del Acto:</b></td>
<td>BOMBAS</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Objeto de la Contratación:</b></td>
<td>Bien</td>
</tr><!-- -->
</tbody></table>
</div><!-- -->
<!-- --><div ng-include="'configVP.html'">
<!--Información de la Entidad-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.entityInformation">
<div class="panel-heading" style="padding:5px 15px;"><b>Información de la Entidad</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Entidad:</b></td>
<td>INSTITUTO DE ACUEDUCTOS Y ALCANTARILLADOS NACIONALES</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Dependencia:</b></td>
<td>SEDE</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Unidad De Compra:</b></td>
<td>DEPARTAMENTO DE COMPRA</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Dirección:</b></td>
<td>Panamá IDAAN VIA BRASIL, SÓTANO DPTO. DE COMPRAS</td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Contacto de la Unidad de Compra-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.contactUser">
<div class="panel-heading" style="padding:5px 15px;"><b>Contacto de la Unidad de Compra</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.contactUser.values">
<td width="250"><b>nombre</b></td>
<td>Edgar Espinosa </td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.contactUser.values">
<td width="250"><b>cargo</b></td>
<td>Cotizador</td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Aviso de Convocatoria-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.aviso">
<div class="panel-heading" style="padding:5px 15px;"><b>Aviso de Convocatoria</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Número de Acto:</b></td>
<!-- --><td ng-if="!isjson">2020-2-66-0-01-EM-015971</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Tipo de Procedimiento:</b></td>
<!-- --><td ng-if="!isjson">Compras Mesa COVID-19</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Fundamento de la Excepción</b></td>
<!-- --><td ng-if="!isjson">D) Resolución No. 18 del 31 de Marzo de 2020</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Objeto Contractual:</b></td>
<!-- --><td ng-if="!isjson">Bien</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Descripción:</b></td>
<!-- --><td ng-if="!isjson">BOMBAS</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Fecha de Publicación:</b></td>
<!-- --><td ng-if="!isjson">21-08-2020 12:03 PM</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Monto de la Contratación:</b></td>
<!-- --><td ng-if="!isjson">B/.  53,094.01</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Partidas presupuestales:</b></td>
<!-- -->
<!-- --><td ng-if="isjson">
<table border="1" id="table_inter_np" type="table_inter">
<tbody><tr style="background-color:#f5f5f5;">
<th style="padding:2px 5px;">N°</th>
<th style="padding:2px 5px;">Número Partida</th>
</tr>
<!-- --><tr ng-repeat="item1 in item.value">
<td style="padding:2px 5px;">1</td>
<td style="padding:2px 5px;">266.1.4.501.02.05 911</td>
</tr><!-- -->
</tbody></table>
</td><!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Programa:</b></td>
<!-- --><td ng-if="!isjson">---</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Datos de Contacto</b></td>
<!-- --><td ng-if="!isjson"></td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Nombre:</b></td>
<!-- --><td ng-if="!isjson">Edgar Espinosa </td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Cargo:</b></td>
<!-- --><td ng-if="!isjson">Cotizador</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Teléfono:</b></td>
<!-- --><td ng-if="!isjson">507-5238561</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Correo Electrónico:</b></td>
<!-- --><td ng-if="!isjson">eespinosa@idaan.gob.pa</td><!-- -->
<!-- -->
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Condiciones Generales-->
<!-- -->
<!--Condiciones Especiales-->
<!-- -->
<!--Especificaciones Técnicas-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.especificacionesTecnicas">
<div class="panel-heading" style="padding:5px 15px;"><b>Especificaciones Técnicas</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<!-- --><span ng-repeat-start="item in vpcp.list.especificacionesTecnicas.values" style="font-size:13px;font-weight:bold;">Proponente Seleccionado</span>
<div class="table-responsive" ng-repeat-end="">
<!-- --><table class="table table-condensed table-bordered last-line-table" ng-if="item.type=='ps'" style="margin:0;margin-bottom:10px;" width="100%">
<tbody><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Nombre:</b></td>
<td>Servicios Integrales Zavala, SA</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Número de Identificación:</b></td>
<td>1936257-1-729022-64</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Dirección:</b></td>
<td>Urbanización Río Abajo, Calle Cuarta, Edificio PH</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Provincia:</b></td>
<td>PANAMÁ</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Distrito:</b></td>
<td>Panamá</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Correo Electrónico:</b></td>
<td>zavalaclau27@gmail.com</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Teléfono:</b></td>
<td>507-3939836</td>
</tr><!-- -->
</tbody></table><!-- -->
<!-- -->
</div><!-- --><span ng-repeat-start="item in vpcp.list.especificacionesTecnicas.values" style="font-size:13px;font-weight:bold;">Bien/Servicio/Obra Seleccionados</span>
<div class="table-responsive" ng-repeat-end="">
<!-- -->
<!-- --><table class="table table-condensed table-bordered table-striped last-line-table" ng-if="item.type=='bs'" style="margin:0;" width="100%">
<thead>
<tr>
<th>R</th>
<th>Código</th>
<th>Clasificación</th>
<th>Cantidad</th>
<th>U. Medida</th>
<th>Descripción</th>
<!-- -->
<!-- -->
<th>SES</th>
<!-- -->
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-repeat="item1 in item.values">
<td>1</td>
<td>40151510</td>
<td>Bombas de agua</td>
<td>2</td>
<td>Unidad</td>
<td>BOMBA CENT.HOR.MON.350GPM 160'CDT 20HP (Bomba centrifuga horizontal de acoplamiento cerrado para estación de rebombeo (Barrio Francés). 20 hp, 350 gpm, 230/460 V, 160? cdt, succión y descarga de 4".)</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>2</td>
<td>40151510</td>
<td>Bombas de agua</td>
<td>1</td>
<td>Unidad</td>
<td>MOTOR 25HP 3PH 208/230/460V. 1750RPM Motor horizontal para estación de rebombeo. 25 hp, 230/460 V, trifásico, 1750rpm, 60 hz, para el bombeo de Las Golondrinas.</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>3</td>
<td>40151510</td>
<td>Bombas de agua</td>
<td>1</td>
<td>Unidad</td>
<td>BOMB.C.HOR.500GPM 3600RPM60HP 3PH 100CDT BOMB.CENTRÍFUGA HORIZONTAL, 500GPM, 3600RPM, 60HP, 3PH 100?CDT, 230/460.</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>4</td>
<td>40151510</td>
<td>Bombas de agua</td>
<td>1</td>
<td>Unidad</td>
<td>BOMBA DOSIF.CLORO 55/200T 5.5 HP 380-400 BOMBA DOSIFICADORA / IMPULDASORA PDE CLORO DE 5.5 HP, 55/200T, 60 HZ, 3X220-227D/380-480 YV, Q: 6 - 20 M³/h.</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>5</td>
<td>40151510</td>
<td>Bombas de agua</td>
<td>2</td>
<td>Unidad</td>
<td>BOMBA DOSIFICADORA P/QUIMICO Para la Dosificación de Cal hidratada, en la planta Potabilizadora de Nuevo Paraíso, Almirante, Provincia de Bocas del Toro Bombas tipo cavidad progresiva para solución de cal. 25gph@259rpm, 110/220 V. Que incluya: Un var</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>6</td>
<td>40151510</td>
<td>Bombas de agua</td>
<td>3</td>
<td>Unidad</td>
<td>	BOMBA DOSIFICADORA P/QUIMICO Bombas tipo Cavidad progresiva, para sulfato de aluminio líquido. Condición: 10gpm, 225rpm, brida de succión de 1". NPT brida de descarga 1/2".NPT, materiales de construcción de la bomba. Carcasa: astm a 351 grado cf8m. </td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- -->
</tbody></table><!-- -->
</div><!-- -->
</div>
</div><!-- -->
<!--Documentos Adjuntos-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documentosAdjuntos">
<div class="panel-heading" style="padding:5px 15px;"><b>Documentos Adjuntos</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Descripción</th>
<th>Tipo</th>
<th>Fecha</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>ORDEN DE COMPRA 40000009907</td>
<td>Orden de Compra</td>
<td>05-08-2020 12:43 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLCAlISc=" ng-href="/includes/veranexo.aspx?idattach=JCQnLCAlISc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CUADRO DE COTIZACIONES  	</td>
<td>Otros</td>
<td>05-08-2020 12:44 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLCAlIyQ=" ng-href="/includes/veranexo.aspx?idattach=JCQnLCAlIyQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>COTIZACIÓN</td>
<td>Otros</td>
<td>05-08-2020 12:44 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLCAlIyc=" ng-href="/includes/veranexo.aspx?idattach=JCQnLCAlIyc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>INFORME TÉCNICO</td>
<td>Informe Técnico</td>
<td>05-08-2020 12:45 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLCAlIy0=" ng-href="/includes/veranexo.aspx?idattach=JCQnLCAlIy0=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>FIANZA DE CUMPLIMIENTO </td>
<td>Otros</td>
<td>05-08-2020 12:45 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLCAlIiU=" ng-href="/includes/veranexo.aspx?idattach=JCQnLCAlIiU=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>AVISO DE OPERACIÓN</td>
<td>Otros</td>
<td>05-08-2020 12:46 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLCAlIiw=" ng-href="/includes/veranexo.aspx?idattach=JCQnLCAlIiw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>PAZ U SALVO DGI</td>
<td>Otros</td>
<td>05-08-2020 12:47 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLCAlLSc=" ng-href="/includes/veranexo.aspx?idattach=JCQnLCAlLSc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>PAZ Y SALVO CSS</td>
<td>Otros</td>
<td>05-08-2020 12:47 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLCAlLSE=" ng-href="/includes/veranexo.aspx?idattach=JCQnLCAlLSE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CERTIFICADO REGISTRO DE PROPONENTE</td>
<td>Certificado de Registro de Proponentes</td>
<td>05-08-2020 12:48 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLCAlLS0=" ng-href="/includes/veranexo.aspx?idattach=JCQnLCAlLS0=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CÉDULA DE REPRESENTANTE LEGAL</td>
<td>Otros</td>
<td>05-08-2020 12:48 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQnLCAlLCc=" ng-href="/includes/veranexo.aspx?idattach=JCQnLCAlLCc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>BOMBAS</td>
<td>Terminos de referencia</td>
<td>21-08-2020 11:33 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQmICAhJyU=" ng-href="/includes/veranexo.aspx?idattach=JCQmICAhJyU=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>BOMBAS</td>
<td>Resolución Fundamento Legal Mesa Covid-19</td>
<td>21-08-2020 11:34 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQmICAhJy0=" ng-href="/includes/veranexo.aspx?idattach=JCQmICAhJy0=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>BOMBAS</td>
<td>Propuestas</td>
<td>21-08-2020 11:34 AM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQmICAhJiM=" ng-href="/includes/veranexo.aspx?idattach=JCQmICAhJiM=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>BOMBAS</td>
<td>Orden de Compra</td>
<td>21-08-2020 02:04 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQmICMgJiA=" ng-href="/includes/veranexo.aspx?idattach=JCQmICMgJiA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Documentos del Acto Público-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documetosPliego">
<div class="panel-heading" style="padding:5px 15px;"><b>Documentos del Acto Público</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Nombre Documento</th>
<th>Fecha Creación</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- --><tr ng-if="vpcp.list.documetosPliego.values.length==0">
<td colspan="4"><center>No hay documentos del acto público</center></td>
</tr><!-- -->
<!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Publicaciones Anteriores-->
<!-- -->
<!--Convocatorias Anteriores-->
<!-- -->
<!--opciones-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.opciones">
<div class="panel-heading" style="padding:5px 15px;"><b>Opciones</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<!-- --><a class="btn btn-default" id="vap" ng-click="vpcp.clickpdf(0)" ng-if="!vpcp.isIE9" title="Ver Acto Público en Formato PDF para imprimir">
<img src="/Inicio/images/ic_descargar_pdf.gif"/>
</a><!-- -->
<!-- --><a class="btn btn-default" ng-click="vpcp.clickpdf(1)" ng-if="!vpcp.isIE" style="margin-left:5px;" title="Imprimir Acto Publico">
<img src="/Inicio/images/ic_imprimir.gif"/>
</a><!-- -->
<!-- -->
<!-- -->
</div>
</div><!-- -->
<!-- --><button class="btn btn-default btn-sm" ng-click="vpcp.backbutton()" ng-if="!vpcp.param.hiddenBB">« Volver</button><!-- -->
</div>
</div>