<div class="col-sm-12 col-md-12" id="elementToPDF" ng-if="vpcp.list!=undefined &amp;&amp; vpcp.list!=false" style="font-size: 12px; background-color: rgb(255, 255, 255);">
<!--Encabezado del pliego-->
<!-- --><div class="well export-pdf table-responsive" ng-if="vpcp.list.header" style="margin-top:10px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Número:</b></td>
<td>2020-0-12-203-03-EM-006008</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Nombre del Acto:</b></td>
<td>PIEZAS DE VEHICULO</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Objeto de la Contratación:</b></td>
<td>Bien</td>
</tr><!-- -->
</tbody></table>
</div><!-- -->
<!-- --><div ng-include="'configVP.html'">
<!--Información de la Entidad-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.entityInformation">
<div class="panel-heading" style="padding:5px 15px;"><b>Información de la Entidad</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Entidad:</b></td>
<td>MINISTERIO DE SALUD</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Dependencia:</b></td>
<td>REGIONAL DE SALUD DE COLON</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Unidad De Compra:</b></td>
<td>DEPARTAMENTO DE COMPRAS(REG. SALUD DE COLON)</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Dirección:</b></td>
<td>MINSA/REGION DE COLON</td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Contacto de la Unidad de Compra-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.contactUser">
<div class="panel-heading" style="padding:5px 15px;"><b>Contacto de la Unidad de Compra</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.contactUser.values">
<td width="250"><b>nombre</b></td>
<td>delia leticia gittens vantul</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.contactUser.values">
<td width="250"><b>cargo</b></td>
<td></td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Aviso de Convocatoria-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.aviso">
<div class="panel-heading" style="padding:5px 15px;"><b>Aviso de Convocatoria</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Número de Acto:</b></td>
<!-- --><td ng-if="!isjson">2020-0-12-203-03-EM-006008</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Tipo de Procedimiento:</b></td>
<!-- --><td ng-if="!isjson">Compras Mesa COVID-19</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Fundamento de la Excepción</b></td>
<!-- --><td ng-if="!isjson">C) Resolución No. 11 del 13 de Marzo de 2020</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Objeto Contractual:</b></td>
<!-- --><td ng-if="!isjson">Bien</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Descripción:</b></td>
<!-- --><td ng-if="!isjson">PIEZAS DE VEHICULO</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Fecha de Publicación:</b></td>
<!-- --><td ng-if="!isjson">06-10-2020 02:04 PM</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Monto de la Contratación:</b></td>
<!-- --><td ng-if="!isjson">B/.  5,154.04</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Partidas presupuestales:</b></td>
<!-- -->
<!-- --><td ng-if="isjson">
<table border="1" id="table_inter_np" type="table_inter">
<tbody><tr style="background-color:#f5f5f5;">
<th style="padding:2px 5px;">N°</th>
<th style="padding:2px 5px;">Número Partida</th>
</tr>
<!-- --><tr ng-repeat="item1 in item.value">
<td style="padding:2px 5px;">1</td>
<td style="padding:2px 5px;">101250103.001.911</td>
</tr><!-- -->
</tbody></table>
</td><!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Programa:</b></td>
<!-- --><td ng-if="!isjson">---</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Datos de Contacto</b></td>
<!-- --><td ng-if="!isjson"></td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Nombre:</b></td>
<!-- --><td ng-if="!isjson">delia leticia gittens vantul</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Cargo:</b></td>
<!-- --><td ng-if="!isjson"></td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Teléfono:</b></td>
<!-- --><td ng-if="!isjson">475-2037</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Correo Electrónico:</b></td>
<!-- --><td ng-if="!isjson">dgittens@minsa.gob.pa</td><!-- -->
<!-- -->
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Condiciones Generales-->
<!-- -->
<!--Condiciones Especiales-->
<!-- -->
<!--Especificaciones Técnicas-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.especificacionesTecnicas">
<div class="panel-heading" style="padding:5px 15px;"><b>Especificaciones Técnicas</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<!-- --><span ng-repeat-start="item in vpcp.list.especificacionesTecnicas.values" style="font-size:13px;font-weight:bold;">Proponente Seleccionado</span>
<div class="table-responsive" ng-repeat-end="">
<!-- --><table class="table table-condensed table-bordered last-line-table" ng-if="item.type=='ps'" style="margin:0;margin-bottom:10px;" width="100%">
<tbody><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Nombre:</b></td>
<td>AUTOREPUESTOS Y FERRETERIA AURESA #2</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Número de Identificación:</b></td>
<td>2423121-1-808184-19</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Dirección:</b></td>
<td>BARRIO SUR, DOMINGO DIAZ CALLE 13 Y 14 LOCAL 1</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Provincia:</b></td>
<td>COLÓN</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Distrito:</b></td>
<td>Colón</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Correo Electrónico:</b></td>
<td>auresa@hotmail.com</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Teléfono:</b></td>
<td>507-4330258</td>
</tr><!-- -->
</tbody></table><!-- -->
<!-- -->
</div><!-- --><span ng-repeat-start="item in vpcp.list.especificacionesTecnicas.values" style="font-size:13px;font-weight:bold;">Bien/Servicio/Obra Seleccionados</span>
<div class="table-responsive" ng-repeat-end="">
<!-- -->
<!-- --><table class="table table-condensed table-bordered table-striped last-line-table" ng-if="item.type=='bs'" style="margin:0;" width="100%">
<thead>
<tr>
<th>R</th>
<th>Código</th>
<th>Clasificación</th>
<th>Cantidad</th>
<th>U. Medida</th>
<th>Descripción</th>
<!-- -->
<!-- -->
<th>SES</th>
<!-- -->
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-repeat="item1 in item.values">
<td>1</td>
<td>25171708</td>
<td>Freno de disco</td>
<td>2</td>
<td>Unidad</td>
<td>DISCO DE FRENO TOYOTA HIACE 43512-26070/90</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>2</td>
<td>47121502</td>
<td>Accesorios para carros de limpieza</td>
<td>1</td>
<td>Unidad</td>
<td>TACO TOYOTA HIACE 2010-</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>3</td>
<td>25191513</td>
<td>Kit de mantenimiento de vehículo de soporte en tierra</td>
<td>1</td>
<td>Unidad</td>
<td>KIT DE MANTENIMIENTO COMPLETO DEL VEHICULO</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>4</td>
<td>26111703</td>
<td>Baterías para vehículos</td>
<td>1</td>
<td>Unidad</td>
<td>BATERIA TASCO 27SHDFP SUPER HD INVERTER</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>5</td>
<td>20101903</td>
<td>Piezas de recambio de sistemas secundarios de arranque o accesorios</td>
<td>2</td>
<td>Unidad</td>
<td>
AMORT DEL TOYO HIACE 05-
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>6</td>
<td>20101903</td>
<td>Piezas de recambio de sistemas secundarios de arranque o accesorios</td>
<td>2</td>
<td>Unidad</td>
<td>AMORTUDORES TRASEROS
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>7</td>
<td>20101903</td>
<td>Piezas de recambio de sistemas secundarios de arranque o accesorios</td>
<td>2</td>
<td>Unidad</td>
<td>TER ESTAB TOYO HIACE 2005-
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>8</td>
<td>20101903</td>
<td>Piezas de recambio de sistemas secundarios de arranque o accesorios</td>
<td>1</td>
<td>Unidad</td>
<td>KASHIMA BANDA TOYO HIACE PANEL RIN 15 NEW 2005-
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>9</td>
<td>20101903</td>
<td>Piezas de recambio de sistemas secundarios de arranque o accesorios</td>
<td>1</td>
<td>Unidad</td>
<td>ASSEMBLY BAL DEL TOYO HIACE 04-15 COMPLETO C/HUB
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>10</td>
<td>25172001</td>
<td>Sistemas de suspensión para automóviles</td>
<td>1</td>
<td>Unidad</td>
<td>ALINEAMIENTO
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>11</td>
<td>15121501</td>
<td>Aceite de motor</td>
<td>1</td>
<td>Unidad</td>
<td>CAMBIO DE ACEITE
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>12</td>
<td>25172004</td>
<td>Amortiguadores para automóviles</td>
<td>4</td>
<td>Unidad</td>
<td>CAMBIO AMORTIGUADOR
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>13</td>
<td>20101903</td>
<td>Piezas de recambio de sistemas secundarios de arranque o accesorios</td>
<td>1</td>
<td>Unidad</td>
<td>CAMBIO BALINERAS
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>14</td>
<td>20101903</td>
<td>Piezas de recambio de sistemas secundarios de arranque o accesorios</td>
<td>1</td>
<td>Unidad</td>
<td>CAMBIO BANDAS
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>15</td>
<td>20101903</td>
<td>Piezas de recambio de sistemas secundarios de arranque o accesorios</td>
<td>2</td>
<td>Unidad</td>
<td>CAMBIO DE DISCO FRENO
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>16</td>
<td>20101903</td>
<td>Piezas de recambio de sistemas secundarios de arranque o accesorios</td>
<td>1</td>
<td>Unidad</td>
<td>CAMBIO IB DE COMPOUND
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>17</td>
<td>20101903</td>
<td>Piezas de recambio de sistemas secundarios de arranque o accesorios</td>
<td>1</td>
<td>Unidad</td>
<td>1 CAMBIO TACOS
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>18</td>
<td>20101903</td>
<td>Piezas de recambio de sistemas secundarios de arranque o accesorios</td>
<td>2</td>
<td>Unidad</td>
<td>CAMBIO TERMINALES ESTABILIZADORA
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>19</td>
<td>20101903</td>
<td>Piezas de recambio de sistemas secundarios de arranque o accesorios</td>
<td>4</td>
<td>Unidad</td>
<td>BALANCE
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>20</td>
<td>20101903</td>
<td>Piezas de recambio de sistemas secundarios de arranque o accesorios</td>
<td>2</td>
<td>Unidad</td>
<td>BRAKE CLEANER SPRAY WURTH 500ML
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>21</td>
<td>20101903</td>
<td>Piezas de recambio de sistemas secundarios de arranque o accesorios</td>
<td>2</td>
<td>Unidad</td>
<td>COOLANT FORMULA ROJO GALON
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>22</td>
<td>20101903</td>
<td>Piezas de recambio de sistemas secundarios de arranque o accesorios</td>
<td>6</td>
<td>Unidad</td>
<td>TUERCA LIJO 12X1.50
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>23</td>
<td>20101903</td>
<td>Piezas de recambio de sistemas secundarios de arranque o accesorios</td>
<td>1</td>
<td>Unidad</td>
<td>REPARACION CHASIS OXIDADO
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>24</td>
<td>20101903</td>
<td>Piezas de recambio de sistemas secundarios de arranque o accesorios</td>
<td>1</td>
<td>Unidad</td>
<td>REPARACION SISTEMA DE AIRE
</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- -->
</tbody></table><!-- -->
</div><!-- -->
</div>
</div><!-- -->
<!--Documentos Adjuntos-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documentosAdjuntos">
<div class="panel-heading" style="padding:5px 15px;"><b>Documentos Adjuntos</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Descripción</th>
<th>Tipo</th>
<th>Fecha</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>AVISO DE OPERACION</td>
<td>Aclaraciones</td>
<td>06-10-2020 01:07 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQjJS0lJyc=" ng-href="/includes/veranexo.aspx?idattach=JCQjJS0lJyc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CEDULA DEL REPRESENTANTE LEGAL</td>
<td>Aclaraciones</td>
<td>06-10-2020 01:07 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQjJS0lJyM=" ng-href="/includes/veranexo.aspx?idattach=JCQjJS0lJyM=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CERTIFICACION PRESUPUESTARIA</td>
<td>Aclaraciones</td>
<td>06-10-2020 01:08 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQjJS0lJiY=" ng-href="/includes/veranexo.aspx?idattach=JCQjJS0lJiY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CUADRO DE COTIZACION</td>
<td>Aclaraciones</td>
<td>06-10-2020 01:09 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQjJS0lICA=" ng-href="/includes/veranexo.aspx?idattach=JCQjJS0lICA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>DECLARACION JURADA</td>
<td>Aclaraciones</td>
<td>06-10-2020 01:10 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQjJS0lIyE=" ng-href="/includes/veranexo.aspx?idattach=JCQjJS0lIyE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>NOTA DE JUSTIFICACION</td>
<td>Aclaraciones</td>
<td>06-10-2020 01:10 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQjJS0lIiE=" ng-href="/includes/veranexo.aspx?idattach=JCQjJS0lIiE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>PAZ Y SALVO DEL M.E.F.</td>
<td>Aclaraciones</td>
<td>06-10-2020 01:11 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQjJS0lLCE=" ng-href="/includes/veranexo.aspx?idattach=JCQjJS0lLCE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>PAZ Y SALVO C.S.S.</td>
<td>Aclaraciones</td>
<td>06-10-2020 01:11 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQjJS0kJSQ=" ng-href="/includes/veranexo.aspx?idattach=JCQjJS0kJSQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>PROPUESTAS</td>
<td>Propuestas</td>
<td>06-10-2020 01:11 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQjJS0kJCQ=" ng-href="/includes/veranexo.aspx?idattach=JCQjJS0kJCQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>REGISTRO PUBLICO</td>
<td>Aclaraciones</td>
<td>06-10-2020 01:12 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQjJS0kJC0=" ng-href="/includes/veranexo.aspx?idattach=JCQjJS0kJC0=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>RESOLUCION FUNDAMENTO LEGAL MESA COVID 19</td>
<td>Resolución Fundamento Legal Mesa Covid-19</td>
<td>06-10-2020 01:12 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQjJS0kJyI=" ng-href="/includes/veranexo.aspx?idattach=JCQjJS0kJyI=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>TERMINOS DE REFERENCIA</td>
<td>Terminos de referencia</td>
<td>06-10-2020 01:13 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQjJS0kJy0=" ng-href="/includes/veranexo.aspx?idattach=JCQjJS0kJy0=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>ORDEN DE COMPRA</td>
<td>Aclaraciones</td>
<td>15-12-2020 02:38 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQsLC0nJCc=" ng-href="/includes/veranexo.aspx?idattach=JCQsLC0nJCc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Documentos del Acto Público-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documetosPliego">
<div class="panel-heading" style="padding:5px 15px;"><b>Documentos del Acto Público</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Nombre Documento</th>
<th>Fecha Creación</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- --><tr ng-if="vpcp.list.documetosPliego.values.length==0">
<td colspan="4"><center>No hay documentos del acto público</center></td>
</tr><!-- -->
<!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Publicaciones Anteriores-->
<!-- -->
<!--Convocatorias Anteriores-->
<!-- -->
<!--opciones-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.opciones">
<div class="panel-heading" style="padding:5px 15px;"><b>Opciones</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<!-- --><a class="btn btn-default" id="vap" ng-click="vpcp.clickpdf(0)" ng-if="!vpcp.isIE9" title="Ver Acto Público en Formato PDF para imprimir">
<img src="/Inicio/images/ic_descargar_pdf.gif"/>
</a><!-- -->
<!-- --><a class="btn btn-default" ng-click="vpcp.clickpdf(1)" ng-if="!vpcp.isIE" style="margin-left:5px;" title="Imprimir Acto Publico">
<img src="/Inicio/images/ic_imprimir.gif"/>
</a><!-- -->
<!-- -->
<!-- -->
</div>
</div><!-- -->
<!-- --><button class="btn btn-default btn-sm" ng-click="vpcp.backbutton()" ng-if="!vpcp.param.hiddenBB">« Volver</button><!-- -->
</div>
</div>