<div class="col-sm-12 col-md-12" id="elementToPDF" ng-if="vpcp.list!=undefined &amp;&amp; vpcp.list!=false" style="font-size: 12px; background-color: rgb(255, 255, 255);">
<!--Encabezado del pliego-->
<!-- --><div class="well export-pdf table-responsive" ng-if="vpcp.list.header" style="margin-top:10px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Número:</b></td>
<td>2020-0-12-0-08-EM-029213</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Nombre del Acto:</b></td>
<td>PEDIDO 20-2485 ÚTILES Y MATERIALES DE OFICINA</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.header.values">
<td width="250"><b>Objeto de la Contratación:</b></td>
<td>Bien</td>
</tr><!-- -->
</tbody></table>
</div><!-- -->
<!-- --><div ng-include="'configVP.html'">
<!--Información de la Entidad-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.entityInformation">
<div class="panel-heading" style="padding:5px 15px;"><b>Información de la Entidad</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Entidad:</b></td>
<td>MINISTERIO DE SALUD</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Dependencia:</b></td>
<td>MINISTERIO DE SALUD</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Unidad De Compra:</b></td>
<td>Compras (ministerio de salud)</td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.entityInformation.values">
<td width="250"><b>Dirección:</b></td>
<td>ANTIGUO HOSPITAL GORGAS, EDF. 265, ANCON</td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Contacto de la Unidad de Compra-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.contactUser">
<div class="panel-heading" style="padding:5px 15px;"><b>Contacto de la Unidad de Compra</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-repeat="item in vpcp.list.contactUser.values">
<td width="250"><b>nombre</b></td>
<td>Hector Abdiel Aparicio Castillo </td>
</tr><!-- --><tr ng-repeat="item in vpcp.list.contactUser.values">
<td width="250"><b>cargo</b></td>
<td>cotizador </td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Aviso de Convocatoria-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.aviso">
<div class="panel-heading" style="padding:5px 15px;"><b>Aviso de Convocatoria</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered last-line-table" style="margin:0;" width="100%">
<tbody><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Número de Acto:</b></td>
<!-- --><td ng-if="!isjson">2020-0-12-0-08-EM-029213</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Tipo de Procedimiento:</b></td>
<!-- --><td ng-if="!isjson">Compras Mesa COVID-19</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Fundamento de la Excepción</b></td>
<!-- --><td ng-if="!isjson">C) Resolución No. 11 del 13 de Marzo de 2020</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Objeto Contractual:</b></td>
<!-- --><td ng-if="!isjson">Bien</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Descripción:</b></td>
<!-- --><td ng-if="!isjson">PEDIDO 20-2485 ÚTILES Y MATERIALES DE OFICINA</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Fecha de Publicación:</b></td>
<!-- --><td ng-if="!isjson">25-09-2020 05:14 PM</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Monto de la Contratación:</b></td>
<!-- --><td ng-if="!isjson">B/.  4,001.35</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Partidas presupuestales:</b></td>
<!-- -->
<!-- --><td ng-if="isjson">
<table border="1" id="table_inter_np" type="table_inter">
<tbody><tr style="background-color:#f5f5f5;">
<th style="padding:2px 5px;">N°</th>
<th style="padding:2px 5px;">Número Partida</th>
</tr>
<!-- --><tr ng-repeat="item1 in item.value">
<td style="padding:2px 5px;">1</td>
<td style="padding:2px 5px;">G.101250101.001.911</td>
</tr><!-- -->
</tbody></table>
</td><!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Programa:</b></td>
<!-- --><td ng-if="!isjson">---</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Datos de Contacto</b></td>
<!-- --><td ng-if="!isjson"></td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Nombre:</b></td>
<!-- --><td ng-if="!isjson">Hector Abdiel Aparicio Castillo </td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Cargo:</b></td>
<!-- --><td ng-if="!isjson">cotizador </td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Teléfono:</b></td>
<!-- --><td ng-if="!isjson">507-5129225</td><!-- -->
<!-- -->
</tr><!-- --><tr ng-init="isjson = vpcp.isJson(item)" ng-repeat="item in vpcp.list.aviso.values">
<td width="250"><b>Correo Electrónico:</b></td>
<!-- --><td ng-if="!isjson">haaparicio@minsa.gob.pa</td><!-- -->
<!-- -->
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Condiciones Generales-->
<!-- -->
<!--Condiciones Especiales-->
<!-- -->
<!--Especificaciones Técnicas-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.especificacionesTecnicas">
<div class="panel-heading" style="padding:5px 15px;"><b>Especificaciones Técnicas</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<!-- --><span ng-repeat-start="item in vpcp.list.especificacionesTecnicas.values" style="font-size:13px;font-weight:bold;">Proponente Seleccionado</span>
<div class="table-responsive" ng-repeat-end="">
<!-- --><table class="table table-condensed table-bordered last-line-table" ng-if="item.type=='ps'" style="margin:0;margin-bottom:10px;" width="100%">
<tbody><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Nombre:</b></td>
<td>OLIMPUS COMMERCIAL CORPORATION, S. A.</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Número de Identificación:</b></td>
<td>1551-306-31140-86</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Dirección:</b></td>
<td>VIA FERNANDEZ DE CORDOBA, N-69</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Provincia:</b></td>
<td>PANAMÁ</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Distrito:</b></td>
<td>Panamá</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Correo Electrónico:</b></td>
<td>eguerran@olimpus.com.pa</td>
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td width="250"><b>Teléfono:</b></td>
<td>507-2617908</td>
</tr><!-- -->
</tbody></table><!-- -->
<!-- -->
</div><!-- --><span ng-repeat-start="item in vpcp.list.especificacionesTecnicas.values" style="font-size:13px;font-weight:bold;">Bien/Servicio/Obra Seleccionados</span>
<div class="table-responsive" ng-repeat-end="">
<!-- -->
<!-- --><table class="table table-condensed table-bordered table-striped last-line-table" ng-if="item.type=='bs'" style="margin:0;" width="100%">
<thead>
<tr>
<th>R</th>
<th>Código</th>
<th>Clasificación</th>
<th>Cantidad</th>
<th>U. Medida</th>
<th>Descripción</th>
<!-- -->
<!-- -->
<th>SES</th>
<!-- -->
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-repeat="item1 in item.values">
<td>1</td>
<td>14111507</td>
<td>Papel para fotocopiadora o impresora</td>
<td>500</td>
<td>Resma</td>
<td>PAPEL BOND BLANCO MULTIPROPÓSITO DE 500 HOJAS EN TAMAÑO 8 1/2 X 11 DE 20 LIBRAS</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>2</td>
<td>14111507</td>
<td>Papel para fotocopiadora o impresora</td>
<td>200</td>
<td>Resma</td>
<td>PAPEL BOND BLANCO MULTIPROPÓSITO DE 500 HOJAS EN TAMAÑO 8 1/2 X 14 DE 20 LIBRAS</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>3</td>
<td>44122011</td>
<td>Carpetas para archivos</td>
<td>25</td>
<td>Caja</td>
<td>FOLDER COLOR MANILA, TAMAÑO CARTA</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>4</td>
<td>44122011</td>
<td>Carpetas para archivos</td>
<td>25</td>
<td>Caja</td>
<td>CAJA DE 100 UNIDADES DE FOLDER COLOR MANILA,TAMAÑO LEGAL.</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>5</td>
<td>44121701</td>
<td>Bolígrafos</td>
<td>50</td>
<td>Caja</td>
<td>BOLÍGRAFO DE GEL RETRÁCTIL EN COLOR AZUL, PUNTA METÁLICA DE 0.5 A 1 MM</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>6</td>
<td>44121701</td>
<td>Bolígrafos</td>
<td>50</td>
<td>Caja</td>
<td>BOLÍGRAFO DE ACEITE COLOR NEGRO, PUNTA METÁLICA DE 1.0 A 1.5 MM</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>7</td>
<td>44121701</td>
<td>Bolígrafos</td>
<td>20</td>
<td>Caja</td>
<td>BOLÍGRAFO DE ACEITE EN COLOR ROJO, PUNTA METÁLICA DE 1.0 A 1.5 MM</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>8</td>
<td>12161501</td>
<td>Etiquetas de afinidad</td>
<td>50</td>
<td>Caja</td>
<td>ETIQUETAS PARA FOLDER, COLORES SURTIDOS</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>9</td>
<td>44121708</td>
<td>Marcadores</td>
<td>25</td>
<td>Caja</td>
<td>MARCADOR PERMANENTE PUNTA BISELADA, EN COLOR AZUL (10), NEGRO (10) Y ROJO (5).</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>10</td>
<td>24141607</td>
<td>Separadores de cartón</td>
<td>25</td>
<td>Caja</td>
<td>PENDAFLEX COLOR VERDE ESTÁNDAR, TAMAÑO LEGAL.</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>11</td>
<td>53102509</td>
<td>Liga</td>
<td>25</td>
<td>Paquete</td>
<td>LIGA #33</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>12</td>
<td>44121618</td>
<td>Tijeras</td>
<td>24</td>
<td>Unidad</td>
<td>TIJERA CON MANGO PLÁSTICO EN TAMAÑO 6 PULGADAS</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>13</td>
<td>55121616</td>
<td>Banderitas autoadhesivas</td>
<td>20</td>
<td>Paquete</td>
<td>BANDERITAS ADHESIVAS COLORES SURTIDOS</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>14</td>
<td>31191507</td>
<td>Cintas abrasivas</td>
<td>10</td>
<td>Caja</td>
<td>MASKING TAPE DE 1 PULGADAS</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>15</td>
<td>31191507</td>
<td>Cintas abrasivas</td>
<td>10</td>
<td>Caja</td>
<td>MASKING TAPE DE 2 PULGADAS</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>16</td>
<td>23101502</td>
<td>Perforadoras</td>
<td>10</td>
<td>Unidad</td>
<td>PERFORADORA DE METAL PARA PERFORAR PAPEL (HOJAS MÍNIMO) DE 2 HUECOS.</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>17</td>
<td>44101707</td>
<td>Grapadoras</td>
<td>20</td>
<td>Unidad</td>
<td>ENGRAPADORA DE METAL</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>18</td>
<td>44122107</td>
<td>Grapas</td>
<td>20</td>
<td>Unidad</td>
<td>SACAGRAPAS DE METAL, CON COBERTOR PLÁSTICO</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- --><tr ng-repeat="item1 in item.values">
<td>19</td>
<td>44122107</td>
<td>Grapas</td>
<td>20</td>
<td>Caja</td>
<td>GRAPAS ESTANDAR (CLIPS DE ENGRAPADORA)</td>
<!-- -->
<!-- -->
<td>---</td>
<!-- -->
</tr><!-- -->
</tbody></table><!-- -->
</div><!-- -->
</div>
</div><!-- -->
<!--Documentos Adjuntos-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documentosAdjuntos">
<div class="panel-heading" style="padding:5px 15px;"><b>Documentos Adjuntos</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Descripción</th>
<th>Tipo</th>
<th>Fecha</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- -->
<!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>REQUISICION DE MATERIAL 20-2485</td>
<td>Terminos de referencia</td>
<td>25-09-2020 04:45 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgISAnLSc=" ng-href="/includes/veranexo.aspx?idattach=JCQgISAnLSc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>RESOLUCIÓN N° 11 13 DE MARZO 2020</td>
<td>Resolución Fundamento Legal Mesa Covid-19</td>
<td>25-09-2020 04:45 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgISAnLSY=" ng-href="/includes/veranexo.aspx?idattach=JCQgISAnLSY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CERTIFICACIÓN PRESUPUESTARIA </td>
<td>Otros</td>
<td>25-09-2020 04:45 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgISAnLSE=" ng-href="/includes/veranexo.aspx?idattach=JCQgISAnLSE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>PROPUESTAS</td>
<td>Otros</td>
<td>25-09-2020 04:45 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgISAnLSA=" ng-href="/includes/veranexo.aspx?idattach=JCQgISAnLSA=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CUADRO DE COTIZACIÓN </td>
<td>Propuestas</td>
<td>25-09-2020 04:46 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgISAnLSM=" ng-href="/includes/veranexo.aspx?idattach=JCQgISAnLSM=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>RESOLUCIONES</td>
<td>Otros</td>
<td>25-09-2020 04:46 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgISAnLSw=" ng-href="/includes/veranexo.aspx?idattach=JCQgISAnLSw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>NOTA N°0158/DA/DM DE 29-07-2020</td>
<td>Otros</td>
<td>25-09-2020 04:47 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgISAnLCc=" ng-href="/includes/veranexo.aspx?idattach=JCQgISAnLCc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>NOTA N°0625-DPSS-ADM</td>
<td>Otros</td>
<td>25-09-2020 04:48 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgISAnLCY=" ng-href="/includes/veranexo.aspx?idattach=JCQgISAnLCY=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>NOTA N°0725-DPSS-ADM</td>
<td>Otros</td>
<td>25-09-2020 04:48 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgISAnLC0=" ng-href="/includes/veranexo.aspx?idattach=JCQgISAnLC0=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>PAZ Y SALVO CSS</td>
<td>Otros</td>
<td>25-09-2020 04:49 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgISAmJSU=" ng-href="/includes/veranexo.aspx?idattach=JCQgISAmJSU=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>PAZ Y SALVO DGI</td>
<td>Otros</td>
<td>25-09-2020 04:49 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgISAmJSQ=" ng-href="/includes/veranexo.aspx?idattach=JCQgISAmJSQ=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>REGISTRO DE PROPONENTE</td>
<td>Otros</td>
<td>25-09-2020 04:49 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgISAmJSc=" ng-href="/includes/veranexo.aspx?idattach=JCQgISAmJSc=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>DECRETO 734 DE 5/08/2020</td>
<td>Otros</td>
<td>25-09-2020 04:50 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgISAmJSE=" ng-href="/includes/veranexo.aspx?idattach=JCQgISAmJSE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>CEDULA REPRE LEGAL</td>
<td>Otros</td>
<td>25-09-2020 04:50 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgISAmJSI=" ng-href="/includes/veranexo.aspx?idattach=JCQgISAmJSI=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>AVISO DE OPERACIÓN</td>
<td>Otros</td>
<td>25-09-2020 04:50 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgISAmJSw=" ng-href="/includes/veranexo.aspx?idattach=JCQgISAmJSw=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>MEDIDA DE RETORSIÓN </td>
<td>Otros</td>
<td>25-09-2020 04:50 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgISAmJCE=" ng-href="/includes/veranexo.aspx?idattach=JCQgISAmJCE=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>AJUSTE PRESUPUESTARIO</td>
<td>Otros</td>
<td>25-09-2020 04:51 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgISAmJCI=" ng-href="/includes/veranexo.aspx?idattach=JCQgISAmJCI=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- --><tr ng-init="item.nombreLink='Ver Documento'" ng-repeat="item in vpcp.list.documentosAdjuntos.values">
<td>ORDEN DE COMPRA</td>
<td>Otros</td>
<td>25-09-2020 04:52 PM</td>
<td><a href="/includes/veranexo.aspx?idattach=JCQgISAmJyU=" ng-href="/includes/veranexo.aspx?idattach=JCQgISAmJyU=" target="_blank" title="Ver Documento"><img src="/imagenes/iconos/ic_ver_generico.gif"/></a></td>
</tr><!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Documentos del Acto Público-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.documetosPliego">
<div class="panel-heading" style="padding:5px 15px;"><b>Documentos del Acto Público</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<table class="table table-condensed table-bordered table-striped last-line-table" style="margin:0;" width="100%">
<thead>
<tr>
<th>Nombre Documento</th>
<th>Fecha Creación</th>
<th>Acciones</th>
</tr>
</thead>
<tbody><!-- --><tr ng-if="vpcp.list.documetosPliego.values.length==0">
<td colspan="4"><center>No hay documentos del acto público</center></td>
</tr><!-- -->
<!-- -->
</tbody></table>
</div>
</div><!-- -->
<!--Publicaciones Anteriores-->
<!-- -->
<!--Convocatorias Anteriores-->
<!-- -->
<!--opciones-->
<!-- --><div class="panel panel-default export-pdf" ng-if="vpcp.list.opciones">
<div class="panel-heading" style="padding:5px 15px;"><b>Opciones</b></div>
<div class="panel-body table-responsive" style="padding:15px;">
<!-- --><a class="btn btn-default" id="vap" ng-click="vpcp.clickpdf(0)" ng-if="!vpcp.isIE9" title="Ver Acto Público en Formato PDF para imprimir">
<img src="/Inicio/images/ic_descargar_pdf.gif"/>
</a><!-- -->
<!-- --><a class="btn btn-default" ng-click="vpcp.clickpdf(1)" ng-if="!vpcp.isIE" style="margin-left:5px;" title="Imprimir Acto Publico">
<img src="/Inicio/images/ic_imprimir.gif"/>
</a><!-- -->
<!-- -->
<!-- -->
</div>
</div><!-- -->
<!-- --><button class="btn btn-default btn-sm" ng-click="vpcp.backbutton()" ng-if="!vpcp.param.hiddenBB">« Volver</button><!-- -->
</div>
</div>